# Data for Random Forest Test with Well-being

In [1]:
%pwd

'/Users/shibo/Desktop/GallupWellBeingGroup/Code'

In [2]:
%cd ..

/Users/shibo/Desktop/GallupWellBeingGroup

## Import Package

In [3]:
import os 
import pandas as pd

## Load Dataset

In [4]:
RawDataset_Filename = os.path.join("Data", "GallupWB_WashedRawData17Wave_v1.parquet")

In [5]:
RawDataset = pd.read_parquet(RawDataset_Filename)

In [6]:
RawDataset.shape

(2594089, 90)

In [7]:
nan_counts = RawDataset.isna().sum()
for line in zip(RawDataset.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_1', 420409)
('INCOME_2', 423416)
('INCOME_3', 420411)
('INCOME_4', 423418)
('INCOME_5', 419801)
('INCOME_6', 2594089)
('INCOME_7', 419841)
('WP16', 14604)
('WP18', 14603)
('WP23', 123903)
('WP27', 151900)
('WP30', 129145)
('WP31', 142727)
('WP40', 52441)
('WP43', 49598)
('WP60', 86371)
('WP61', 67376)
('WP63', 104399)
('WP65', 69390)
('WP67', 74033)
('WP68', 85721)
('WP69', 82693)
('WP70', 83895)
('WP71', 184749)
('WP74', 100720)
('WP83', 185474)
('WP85', 310161)
('WP86', 240808)
('WP19472', 1719188)
('WP88', 262622)
('WP89', 171021)
('WP91', 198859)
('WP92', 200973)
('WP93', 145248)
('WP94', 202990)
('WP95', 201667)
('WP96', 2594089)
('WP97', 238617)
('WP98', 231858)
('WP10248', 710990)
('WP103', 452880)
('WP105', 545368)
('WP106', 262574)
('WP108', 189759)
('WP109', 187253)
('WP110', 193819)
('WP111', 675056)
('WP112', 419460)
('WP113', 206175)
('WP117', 268482)
('WP118', 786324)
('WP119', 291689)
('WP129', 177618)
('WP130', 156114)
('WP9050', 731999)
('WP131', 408916)
('WP132', 218748)
('WP134', 162829)
('WP137', 503224)
('WP138', 392723)
('WP139', 426999)
('WP141', 240493)
('WP144', 461870)
('WP10251', 790018)
('WP145', 294340)
('WP146', 401409)
('WP150', 518606)
('WP151', 347999)
('WP153', 420278)
('WP155', 452531)
('WP156', 400767)
('WP13125', 1158474)
('WP1219', 22)
('WP1220', 3306)
('WP1223', 26119)
('EMP_2010', 433208)
('WP1230', 80157)
('WP1233', 303845)
('WP2319', 146446)
('WP4657', 230088)
('WP9042', 2467008)
('WP9048', 2469606)
('WP17625', 1287824)
('WP17626', 1412789)
('WP16056', 1478999)
('WP15862', 1880708)
('WP19544', 1824015)
('WP3117', 77184)

## wave

In [8]:
RawDataset['wave'].value_counts().sort_index()

wave
1.0     129972
2.0     104831
3.0     120443
3.1       3568
3.2       4141
3.3       2592
3.4       1758
4.0      99664
4.1      18074
4.2      19164
4.3       1147
5.0     112702
5.1      18141
5.2      20013
6.0     130614
6.1      23134
6.2      26258
6.3       7224
6.4       7157
6.5       1077
7.1     151720
7.2      49465
7.3      12879
7.4      16019
8.1     138673
9.1     154205
9.2      36143
10.1    148232
11.1    148724
11.2      2000
12.1    154166
12.9      1000
13.1    118922
13.2     33952
14.1    176253
15.1    121207
15.5      6350
15.9      1917
16.1    126902
17.1    143686
Name: count, dtype: int64

In [9]:
RawDataset['wave'] = RawDataset['wave'].astype(int)

In [10]:
RawDataset['wave'].value_counts().sort_index()

wave
1     129972
2     104831
3     132502
4     138049
5     150856
6     195464
7     230083
8     138673
9     190348
10    148232
11    150724
12    155166
13    152874
14    176253
15    129474
16    126902
17    143686
Name: count, dtype: int64

## check elements

In [11]:
RawDataset.shape

(2594089, 90)

## Filter columns and Replace elements

In [12]:
Droped_datasetdf = RawDataset.drop(columns=['WP119','WP131','INCOME_1','INCOME_3','INCOME_4','INCOME_5','INCOME_6','INCOME_7',
                     'WP151','WP153','WP155','WP156','WP13125','WP1233','WP4657',
                     'WP9042','WP9048','WP17625','WP3117','WP19472'])

In [13]:
Droped_datasetdf.shape

(2594089, 70)

### Create new df for renamed df

In [14]:
Droped_new_df = pd.DataFrame()

In [15]:
Droped_datasetdf.columns

Index(['wave', 'COUNTRY_ISO3', 'INCOME_2', 'WP16', 'WP18', 'WP23', 'WP27',
       'WP30', 'WP31', 'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67',
       'WP68', 'WP69', 'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP129', 'WP130', 'WP9050',
       'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141', 'WP144',
       'WP10251', 'WP145', 'WP146', 'WP150', 'WP1219', 'WP1220', 'WP1223',
       'EMP_2010', 'WP1230', 'WP2319', 'WP17626', 'WP16056', 'WP15862',
       'WP19544'],
      dtype='object')

### Lesson

In [16]:
name = ['wave', 'COUNTRY_ISO3', 'INCOME_2', 'Cantril_ladder', 'Cantril_ladder_future', 'WP23', 'WP27',
       'WP30', 'WP31', 'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67',
       'WP68', 'WP69', 'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP88',
       'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98',
       'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110',
       'WP112', 'WP113', 'WP117', 'WP129', 'WP130', 'WP9050', 'WP132', 'WP134',
       'WP137', 'WP138', 'WP139', 'WP141', 'WP144', 'WP10251', 'WP145',
       'WP146', 'WP150', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010', 'WP1230',
       'WP2319', 'WP17626', 'WP16056', 'WP15862', 'WP19544']

In [17]:
name[0]

'wave'

In [18]:
dict_name = {}

In [19]:
dict_name['WP16'] = 'Cantril_ladder'

In [20]:
dict_name['WP18'] = 'Cantril_ladder_future'

In [21]:
dict_name

{'WP16': 'Cantril_ladder', 'WP18': 'Cantril_ladder_future'}

In [22]:
old_name = ['WP16', 'WP18', 'WP23']
new_name = []
for this_old_name in old_name:
    print(this_old_name)
    this_new_name = dict_name.get(this_old_name)
    print(this_new_name)
    new_name.append(this_new_name)

WP16
Cantril_ladder
WP18
Cantril_ladder_future
WP23
None

In [23]:
new_name

['Cantril_ladder', 'Cantril_ladder_future', None]

In [24]:
dict_name.get('WP18')

'Cantril_ladder_future'

In [25]:
dict_name.get('WP22')

In [26]:
namechanging_df = Droped_datasetdf.copy()

In [27]:
namechanging_df.columns = name

ValueError: Length mismatch: Expected axis has 70 elements, new values have 68 elements

In [ ]:
namechanging_df.head()

### WP23: Disability

In [16]:
Droped_datasetdf['Disability'] = Droped_datasetdf['WP23']

In [17]:
Droped_datasetdf['Disability'].value_counts().sort_index()

Disability
1.0     606730
2.0    1849654
3.0      10927
4.0       2875
Name: count, dtype: int64

In [18]:
nan_count = Droped_datasetdf['Disability'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 123903

In [19]:
Droped_datasetdf['Disability'] = Droped_datasetdf['Disability'].replace({3: 1, 4: 1})
Droped_datasetdf['Disability'] = Droped_datasetdf['Disability'].fillna(2)

In [20]:
Droped_new_df['Disability'] = Droped_datasetdf['Disability']

In [21]:
print(Droped_new_df)

         Disability
0               2.0
1               1.0
2               2.0
3               2.0
4               1.0
...             ...
2594084         2.0
2594085         2.0
2594086         2.0
2594087         2.0
2594088         2.0

[2594089 rows x 1 columns]

### WP40, WP43: Food&Shelter

In [22]:
Droped_datasetdf['Food'] = Droped_datasetdf['WP40']
Droped_datasetdf['Shelter'] = Droped_datasetdf['WP40']

In [23]:
Droped_datasetdf['Food'].value_counts().sort_index()

Food
1.0     805763
2.0    1719891
3.0      11392
4.0       4602
Name: count, dtype: int64

In [24]:
nan_count = Droped_datasetdf['Food'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 52441

In [25]:
Droped_datasetdf['Shelter'].value_counts().sort_index()

Shelter
1.0     805763
2.0    1719891
3.0      11392
4.0       4602
Name: count, dtype: int64

In [26]:
nan_count = Droped_datasetdf['Shelter'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 52441

In [27]:
Droped_datasetdf['Food'] = Droped_datasetdf['Food'].replace({3: 1, 4: 1})
Droped_datasetdf['Food'] = Droped_datasetdf['Food'].fillna(1)
Droped_datasetdf['Shelter'] = Droped_datasetdf['Shelter'].replace({3: 1, 4: 1})
Droped_datasetdf['Shelter'] = Droped_datasetdf['Shelter'].fillna(1)

In [28]:
Droped_new_df['Food'] = Droped_datasetdf['Food']
Droped_new_df['Shelter'] = Droped_datasetdf['Shelter']

In [29]:
print(Droped_new_df)

         Disability  Food  Shelter
0               2.0   2.0      2.0
1               1.0   2.0      2.0
2               2.0   2.0      2.0
3               2.0   2.0      2.0
4               1.0   2.0      2.0
...             ...   ...      ...
2594084         2.0   1.0      1.0
2594085         2.0   1.0      1.0
2594086         2.0   1.0      1.0
2594087         2.0   1.0      1.0
2594088         2.0   1.0      1.0

[2594089 rows x 3 columns]

### Other Binary variables

DK and refused to No

#### WP27:Relatives

In [30]:
Droped_datasetdf['Relatives'] = Droped_datasetdf['WP27']

In [31]:
Droped_datasetdf['Relatives'].value_counts().sort_index()

Relatives
1.0    1955363
2.0     459668
3.0      24189
4.0       2969
Name: count, dtype: int64

In [32]:
nan_count = Droped_datasetdf['Relatives'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 151900

In [33]:
Droped_datasetdf['Relatives'] = Droped_datasetdf['Relatives'].replace({3: 2, 4: 2})
Droped_datasetdf['Relatives'] = Droped_datasetdf['Relatives'].fillna(2)
Droped_new_df['Relatives'] = Droped_datasetdf['Relatives']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives
0               2.0   2.0      2.0        1.0
1               1.0   2.0      2.0        1.0
2               2.0   2.0      2.0        1.0
3               2.0   2.0      2.0        1.0
4               1.0   2.0      2.0        1.0
...             ...   ...      ...        ...
2594084         2.0   1.0      1.0        1.0
2594085         2.0   1.0      1.0        1.0
2594086         2.0   1.0      1.0        1.0
2594087         2.0   1.0      1.0        1.0
2594088         2.0   1.0      1.0        1.0

[2594089 rows x 4 columns]

#### WP30: Satisfy_life

In [34]:
Droped_datasetdf['Satisfy_life'] = Droped_datasetdf['WP30']

In [35]:
Droped_datasetdf['Satisfy_life'].value_counts().sort_index()

Satisfy_life
1.0    1534279
2.0     892657
3.0      33011
4.0       4997
Name: count, dtype: int64

In [36]:
nan_count = Droped_datasetdf['Satisfy_life'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 129145

In [37]:
Droped_datasetdf['Satisfy_life'] = Droped_datasetdf['Satisfy_life'].replace({3: 2, 4: 2})
Droped_datasetdf['Satisfy_life'] = Droped_datasetdf['Satisfy_life'].fillna(2)
Droped_new_df['Satisfy_life'] = Droped_datasetdf['Satisfy_life']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life
0               2.0   2.0      2.0        1.0           1.0
1               1.0   2.0      2.0        1.0           1.0
2               2.0   2.0      2.0        1.0           1.0
3               2.0   2.0      2.0        1.0           1.0
4               1.0   2.0      2.0        1.0           1.0
...             ...   ...      ...        ...           ...
2594084         2.0   1.0      1.0        1.0           2.0
2594085         2.0   1.0      1.0        1.0           2.0
2594086         2.0   1.0      1.0        1.0           2.0
2594087         2.0   1.0      1.0        1.0           1.0
2594088         2.0   1.0      1.0        1.0           2.0

[2594089 rows x 5 columns]

#### WP60:Wellrested

In [38]:
Droped_datasetdf['Wellrested'] = Droped_datasetdf['WP60']

In [39]:
Droped_datasetdf['Wellrested'].value_counts().sort_index()

Wellrested
1.0    1689902
2.0     797911
3.0      16843
4.0       3062
Name: count, dtype: int64

In [40]:
nan_count = Droped_datasetdf['Wellrested'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 86371

In [41]:
Droped_datasetdf['Wellrested'] = Droped_datasetdf['Wellrested'].replace({3: 2, 4: 2})
Droped_datasetdf['Wellrested'] = Droped_datasetdf['Wellrested'].fillna(2)
Droped_new_df['Wellrested'] = Droped_datasetdf['Wellrested']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

[2594089 rows x 6 columns]

#### WP61 :Treated_respect

In [42]:
Droped_datasetdf['Treated_respect'] = Droped_datasetdf['WP61']

In [43]:
Droped_datasetdf['Treated_respect'].value_counts().sort_index()

Treated_respect
1.0    2171561
2.0     303734
3.0      46140
4.0       5278
Name: count, dtype: int64

In [44]:
nan_count = Droped_datasetdf['Treated_respect'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 67376

In [45]:
Droped_datasetdf['Treated_respect'] = Droped_datasetdf['Treated_respect'].replace({3: 2, 4: 2})
Droped_datasetdf['Treated_respect'] = Droped_datasetdf['Treated_respect'].fillna(2)
Droped_new_df['Treated_respect'] = Droped_datasetdf['Treated_respect']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect
0                    1.0
1                    1.0
2                    1.0
3                    1.0
4                    1.0
...                  ...
2594084              2.0
2594085              1.0
2594086              1.0
2594087              1.0
2594088              1.0

[2594089 rows x 7 columns]

#### WP63:Smile_Laugh

In [46]:
Droped_datasetdf['Smile_Laugh'] = Droped_datasetdf['WP63']

In [47]:
Droped_datasetdf['Smile_Laugh'].value_counts().sort_index()

Smile_Laugh
1.0    1757077
2.0     685803
3.0      42157
4.0       4653
Name: count, dtype: int64

In [48]:
nan_count = Droped_datasetdf['Smile_Laugh'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 104399

In [49]:
Droped_datasetdf['Smile_Laugh'] = Droped_datasetdf['Smile_Laugh'].replace({3: 2, 4: 2})
Droped_datasetdf['Smile_Laugh'] = Droped_datasetdf['Smile_Laugh'].fillna(2)
Droped_new_df['Smile_Laugh'] = Droped_datasetdf['Smile_Laugh']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh
0                    1.0          1.0
1                    1.0          1.0
2                    1.0          1.0
3                    1.0          1.0
4                    1.0          1.0
...                  ...          ...
2594084              2.0          2.0
2594085              1.0          2.0
2594086              1.0          2.0
2594087              1.0          1.0
2594088              1.0          1.0

[2594089 rows x 8 columns]

#### WP65:Learn_interesting

In [50]:
Droped_datasetdf['Learn_interesting'] = Droped_datasetdf['WP65']

In [51]:
Droped_datasetdf['Learn_interesting'].value_counts().sort_index()

Learn_interesting
1.0    1312341
2.0    1167576
3.0      40270
4.0       4512
Name: count, dtype: int64

In [52]:
nan_count = Droped_datasetdf['Learn_interesting'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 69390

In [53]:
Droped_datasetdf['Learn_interesting'] = Droped_datasetdf['Learn_interesting'].replace({3: 2, 4: 2})
Droped_datasetdf['Learn_interesting'] = Droped_datasetdf['Learn_interesting'].fillna(2)
Droped_new_df['Learn_interesting'] = Droped_datasetdf['Learn_interesting']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting
0                    1.0          1.0                2.0
1                    1.0          1.0                1.0
2                    1.0          1.0                1.0
3                    1.0          1.0                2.0
4                    1.0          1.0                2.0
...                  ...          ...                ...
2594084              2.0          2.0                1.0
2594085              1.0          2.0                1.0
2594086              1.0          2.0                2.0
2594087              1.0          1.0                2.0
2594088              1.0          1.0                2.0

[2594089 rows x 9 columns]

#### WP67:Enjoyment

In [54]:
Droped_datasetdf['Enjoyment'] = Droped_datasetdf['WP67']

In [55]:
Droped_datasetdf['Enjoyment'].value_counts().sort_index()

Enjoyment
1.0    1742266
2.0     742346
3.0      30938
4.0       4506
Name: count, dtype: int64

In [56]:
nan_count = Droped_datasetdf['Enjoyment'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 74033

In [57]:
Droped_datasetdf['Enjoyment'] = Droped_datasetdf['Enjoyment'].replace({3: 2, 4: 2})
Droped_datasetdf['Enjoyment'] = Droped_datasetdf['Enjoyment'].fillna(2)
Droped_new_df['Enjoyment'] = Droped_datasetdf['Enjoyment']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

[2594089 rows x 10 columns]

#### WP68:Physical_pain

In [58]:
Droped_datasetdf['Physical_pain'] = Droped_datasetdf['WP68']

In [59]:
Droped_datasetdf['Physical_pain'].value_counts().sort_index()

Physical_pain
1.0     756320
2.0    1738797
3.0      10319
4.0       2932
Name: count, dtype: int64

In [60]:
nan_count = Droped_datasetdf['Physical_pain'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 85721

In [61]:
Droped_datasetdf['Physical_pain'] = Droped_datasetdf['Physical_pain'].replace({3: 2, 4: 2})
Droped_datasetdf['Physical_pain'] = Droped_datasetdf['Physical_pain'].fillna(2)
Droped_new_df['Physical_pain'] = Droped_datasetdf['Physical_pain']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain
0                  2.0
1                  2.0
2                  2.0
3                  2.0
4                  2.0
...                ...
2594084            2.0
2594085            1.0
2594086            2.0
2594087            2.0
2594088            1.0

[2594089 rows x 11 columns]

#### WP69: Worry

In [62]:
Droped_datasetdf['Worry'] = Droped_datasetdf['WP69']

In [63]:
Droped_datasetdf['Worry'].value_counts().sort_index()

Worry
1.0     931583
2.0    1561149
3.0      15404
4.0       3260
Name: count, dtype: int64

In [64]:
nan_count = Droped_datasetdf['Worry'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 82693

In [65]:
Droped_datasetdf['Worry'] = Droped_datasetdf['Worry'].replace({3: 2, 4: 2})
Droped_datasetdf['Worry'] = Droped_datasetdf['Worry'].fillna(2)
Droped_new_df['Worry'] = Droped_datasetdf['Worry']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry
0                  2.0    2.0
1                  2.0    2.0
2                  2.0    1.0
3                  2.0    2.0
4                  2.0    2.0
...                ...    ...
2594084            2.0    1.0
2594085            1.0    2.0
2594086            2.0    2.0
2594087            2.0    2.0
2594088            1.0    1.0

[2594089 rows x 12 columns]

#### WP70: Sadness

In [66]:
Droped_datasetdf['Sadness'] = Droped_datasetdf['WP70']

In [67]:
Droped_datasetdf['Sadness'].value_counts().sort_index()

Sadness
1.0     577956
2.0    1911392
3.0      16939
4.0       3907
Name: count, dtype: int64

In [68]:
nan_count = Droped_datasetdf['Sadness'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 83895

In [69]:
Droped_datasetdf['Sadness'] = Droped_datasetdf['Sadness'].replace({3: 2, 4: 2})
Droped_datasetdf['Sadness'] = Droped_datasetdf['Sadness'].fillna(2)
Droped_new_df['Sadness'] = Droped_datasetdf['Sadness']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness
0                  2.0    2.0      2.0
1                  2.0    2.0      2.0
2                  2.0    1.0      2.0
3                  2.0    2.0      2.0
4                  2.0    2.0      2.0
...                ...    ...      ...
2594084            2.0    1.0      1.0
2594085            1.0    2.0      2.0
2594086            2.0    2.0      1.0
2594087            2.0    2.0      2.0
2594088            1.0    1.0      1.0

[2594089 rows x 13 columns]

#### WP71: Stress

In [70]:
Droped_datasetdf['Stress'] = Droped_datasetdf['WP71']

In [71]:
Droped_datasetdf['Stress'].value_counts().sort_index()

Stress
1.0     781118
2.0    1604772
3.0      20033
4.0       3417
Name: count, dtype: int64

In [72]:
nan_count = Droped_datasetdf['Stress'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 184749

In [73]:
Droped_datasetdf['Stress'] = Droped_datasetdf['Stress'].replace({3: 2, 4: 2})
Droped_datasetdf['Stress'] = Droped_datasetdf['Stress'].fillna(2)
Droped_new_df['Stress'] = Droped_datasetdf['Stress']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress
0                  2.0    2.0      2.0     2.0
1                  2.0    2.0      2.0     2.0
2                  2.0    1.0      2.0     1.0
3                  2.0    2.0      2.0     2.0
4                  2.0    2.0      2.0     2.0
...                ...    ...      ...     ...
2594084            2.0    1.0      1.0     2.0
2594085            1.0    2.0      2.0     1.0
2594086            2.0    2.0      1.0     1.0
2594087            2.0    2.0      2.0     2.0
2594088            1.0    1.0      1.0     1.0

[2594089 rows x 14 columns]

#### WP74: Anger

In [74]:
Droped_datasetdf['Anger'] = Droped_datasetdf['WP74']

In [75]:
Droped_datasetdf['Anger'].value_counts().sort_index()

Anger
1.0     498456
2.0    1974550
3.0      16268
4.0       4095
Name: count, dtype: int64

In [76]:
nan_count = Droped_datasetdf['Anger'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 100720

In [77]:
Droped_datasetdf['Anger'] = Droped_datasetdf['Anger'].replace({3: 2, 4: 2})
Droped_datasetdf['Anger'] = Droped_datasetdf['Anger'].fillna(2)
Droped_new_df['Anger'] = Droped_datasetdf['Anger']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress  Anger
0                  2.0    2.0      2.0     2.0    2.0
1                  2.0    2.0      2.0     2.0    2.0
2                  2.0    1.0      2.0     1.0    2.0
3                  2.0    2.0      2.0     2.0    2.0
4                  2.0    2.0      2.0     2.0    2.0
...                ...    ...      ...     ...    ...
2594084            2.0    1.0      1.0     2.0    1.0
2594085            1.0    2.0      2.0     1.0    2.0
2594086            2.0    2.0      1.0     1.0    2.0
2594087            2.0    2.0      2.0     2.0    2.0
2594088            1.0    1.0      1.0     1.0    1.0

[2594089 rows x 15 columns]

#### WP83: Satisfied_city

In [78]:
Droped_datasetdf['Satisfied_city'] = Droped_datasetdf['WP83']

In [79]:
Droped_datasetdf['Satisfied_city'].value_counts().sort_index()

Satisfied_city
1.0    1871744
2.0     507329
3.0      26182
4.0       3360
Name: count, dtype: int64

In [80]:
nan_count = Droped_datasetdf['Satisfied_city'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 185474

In [81]:
Droped_datasetdf['Satisfied_city'] = Droped_datasetdf['Satisfied_city'].replace({3: 2, 4: 2})
Droped_datasetdf['Satisfied_city'] = Droped_datasetdf['Satisfied_city'].fillna(2)
Droped_new_df['Satisfied_city'] = Droped_datasetdf['Satisfied_city']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress  Anger  Satisfied_city
0                  2.0    2.0      2.0     2.0    2.0             2.0
1                  2.0    2.0      2.0     2.0    2.0             2.0
2                  2.0    1.0      2.0     1.0    2.0             2.0
3                  2.0    2.0      2.0     2.0    2.0             2.0
4                  2.0    2.0      2.0     2.0    2.0             2.0
...                ...    ...      ...     ...    ...             ...
2594084            2.0    1.0      1.0     2.0    1.0             1.0
2594085            1.0    2.0      2.0     1.0    2.0             1.0
2594086            2.0    2.0      1.0     1.0    2.0             1.0
2594087            2.0    2.0      2.0     2.0    2.0             1.0
2594088            1.0    1.0      1.0     1.0    1.0             2.0

[2594089 rows x 16 columns]

#### WP85: Move_city

In [82]:
Droped_datasetdf['Move_city'] = Droped_datasetdf['WP85']

In [83]:
Droped_datasetdf['Move_city'].value_counts().sort_index()

Move_city
1.0     402175
2.0    1802866
3.0      75673
4.0       3214
Name: count, dtype: int64

In [84]:
nan_count = Droped_datasetdf['Move_city'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 310161

In [85]:
Droped_datasetdf['Move_city'] = Droped_datasetdf['Move_city'].replace({3: 2, 4: 2})
Droped_datasetdf['Move_city'] = Droped_datasetdf['Move_city'].fillna(2)
Droped_new_df['Move_city'] = Droped_datasetdf['Move_city']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress  Anger  Satisfied_city  \
0                  2.0    2.0      2.0     2.0    2.0             2.0
1                  2.0    2.0      2.0     2.0    2.0             2.0
2                  2.0    1.0      2.0     1.0    2.0             2.0
3                  2.0    2.0      2.0     2.0    2.0             2.0
4                  2.0    2.0      2.0     2.0    2.0             2.0
...                ...    ...      ...     ...    ...             ...
2594084            2.0    1.0      1.0     2.0    1.0             1.0
2594085            1.0    2.0      2.0     1.0    2.0             1.0
2594086            2.0    2.0      1.0     1.0    2.0             1.0
2594087            2.0    2.0      2.0     2.0    2.0             1.0
2594088            1.0    1.0      1.0     1.0    1.0             2.0

         Move_city
0              2.0
1              2.0
2              2.0
3              2.0
4              2.0
...            ...
2594084        1.0
2594085        1.0
2594086        1.0
2594087        1.0
2594088        1.0

[2594089 rows x 17 columns]

#### WP86:Recommend_city

In [86]:
Droped_datasetdf['Recommend_city'] = Droped_datasetdf['WP86']

In [87]:
Droped_datasetdf['Recommend_city'].value_counts().sort_index()

Recommend_city
1.0    1638555
2.0     621906
3.0      87568
4.0       5252
Name: count, dtype: int64

In [88]:
nan_count = Droped_datasetdf['Recommend_city'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 240808

In [89]:
Droped_datasetdf['Recommend_city'] = Droped_datasetdf['Recommend_city'].replace({3: 2, 4: 2})
Droped_datasetdf['Recommend_city'] = Droped_datasetdf['Recommend_city'].fillna(2)
Droped_new_df['Recommend_city'] = Droped_datasetdf['Recommend_city']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress  Anger  Satisfied_city  \
0                  2.0    2.0      2.0     2.0    2.0             2.0
1                  2.0    2.0      2.0     2.0    2.0             2.0
2                  2.0    1.0      2.0     1.0    2.0             2.0
3                  2.0    2.0      2.0     2.0    2.0             2.0
4                  2.0    2.0      2.0     2.0    2.0             2.0
...                ...    ...      ...     ...    ...             ...
2594084            2.0    1.0      1.0     2.0    1.0             1.0
2594085            1.0    2.0      2.0     1.0    2.0             1.0
2594086            2.0    2.0      1.0     1.0    2.0             1.0
2594087            2.0    2.0      2.0     2.0    2.0             1.0
2594088            1.0    1.0      1.0     1.0    1.0             2.0

         Move_city  Recommend_city
0              2.0             2.0
1              2.0             2.0
2              2.0             2.0
3              2.0             2.0
4              2.0             2.0
...            ...             ...
2594084        1.0             1.0
2594085        1.0             1.0
2594086        1.0             1.0
2594087        1.0             1.0
2594088        1.0             2.0

[2594089 rows x 18 columns]

#### WP89: Find_job

In [90]:
Droped_datasetdf['Find_job'] = Droped_datasetdf['WP89']

In [91]:
Droped_datasetdf['Find_job'].value_counts().sort_index()

Find_job
1.0     825228
2.0    1386060
3.0     203351
4.0       8429
Name: count, dtype: int64

In [92]:
nan_count = Droped_datasetdf['Find_job'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 171021

In [93]:
Droped_datasetdf['Find_job'] = Droped_datasetdf['Find_job'].replace({3: 2, 4: 2})
Droped_datasetdf['Find_job'] = Droped_datasetdf['Find_job'].fillna(2)
Droped_new_df['Find_job'] = Droped_datasetdf['Find_job']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  \
0                    1.0          1.0                2.0        1.0
1                    1.0          1.0                1.0        1.0
2                    1.0          1.0                1.0        1.0
3                    1.0          1.0                2.0        1.0
4                    1.0          1.0                2.0        1.0
...                  ...          ...                ...        ...
2594084              2.0          2.0                1.0        2.0
2594085              1.0          2.0                1.0        1.0
2594086              1.0          2.0                2.0        1.0
2594087              1.0          1.0                2.0        1.0
2594088              1.0          1.0                2.0        2.0

         Physical_pain  Worry  Sadness  Stress  Anger  Satisfied_city  \
0                  2.0    2.0      2.0     2.0    2.0             2.0
1                  2.0    2.0      2.0     2.0    2.0             2.0
2                  2.0    1.0      2.0     1.0    2.0             2.0
3                  2.0    2.0      2.0     2.0    2.0             2.0
4                  2.0    2.0      2.0     2.0    2.0             2.0
...                ...    ...      ...     ...    ...             ...
2594084            2.0    1.0      1.0     2.0    1.0             1.0
2594085            1.0    2.0      2.0     1.0    2.0             1.0
2594086            2.0    2.0      1.0     1.0    2.0             1.0
2594087            2.0    2.0      2.0     2.0    2.0             1.0
2594088            1.0    1.0      1.0     1.0    1.0             2.0

         Move_city  Recommend_city  Find_job
0              2.0             2.0       2.0
1              2.0             2.0       2.0
2              2.0             2.0       2.0
3              2.0             2.0       2.0
4              2.0             2.0       2.0
...            ...             ...       ...
2594084        1.0             1.0       2.0
2594085        1.0             1.0       2.0
2594086        1.0             1.0       2.0
2594087        1.0             1.0       2.0
2594088        1.0             2.0       2.0

[2594089 rows x 19 columns]

#### WP91-98,10248: Public_transportation,Roads_highways,Edcuation,Air_quality,Water_quality,Health_care,Good_housing,Friends_make

In [94]:
Droped_datasetdf['Public_transportation'] = Droped_datasetdf['WP91']

In [95]:
Droped_datasetdf['Roads_highways'] = Droped_datasetdf['WP92']

In [96]:
Droped_datasetdf['Education'] = Droped_datasetdf['WP93']

In [97]:
Droped_datasetdf['Air_quality'] = Droped_datasetdf['WP94']

In [98]:
Droped_datasetdf['Water_quality'] = Droped_datasetdf['WP95']

In [99]:
Droped_datasetdf['Health_care'] = Droped_datasetdf['WP97']

In [100]:
Droped_datasetdf['Good_housing'] = Droped_datasetdf['WP98']

In [101]:
Droped_datasetdf['Friends_make'] = Droped_datasetdf['WP10248']

In [102]:
column_91_10248 = ['Public_transportation','Roads_highways','Education','Air_quality','Water_quality','Health_care','Good_housing','Friends_make']

In [103]:
Droped_datasetdf[column_91_10248].value_counts().sort_index()

Public_transportation  Roads_highways  Education  Air_quality  Water_quality  Health_care  Good_housing  Friends_make
1.0                    1.0             1.0        1.0          1.0            1.0          1.0           1.0             263833
                                                                                                         2.0              15350
                                                                                                         3.0               2989
                                                                                                         4.0                200
                                                                                           2.0           1.0              67398
                                                                                                                          ...
4.0                    4.0             4.0        4.0          4.0            4.0          3.0           4.0                  1
                                                                                           4.0           1.0                  7
                                                                                                         2.0                  3
                                                                                                         3.0                  4
                                                                                                         4.0                197
Name: count, Length: 12268, dtype: int64

In [104]:
nan_count = Droped_datasetdf[column_91_10248].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Public_transportation    198859
Roads_highways           200973
Education                145248
Air_quality              202990
Water_quality            201667
Health_care              238617
Good_housing             231858
Friends_make             710990
dtype: int64

In [105]:
Droped_datasetdf[column_91_10248] = Droped_datasetdf[column_91_10248].replace({3: 2, 4: 2})
Droped_datasetdf[column_91_10248] = Droped_datasetdf[column_91_10248].fillna(2)
Droped_new_df[column_91_10248] = Droped_datasetdf[column_91_10248]
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  ...  \
0                    1.0          1.0                2.0        1.0  ...
1                    1.0          1.0                1.0        1.0  ...
2                    1.0          1.0                1.0        1.0  ...
3                    1.0          1.0                2.0        1.0  ...
4                    1.0          1.0                2.0        1.0  ...
...                  ...          ...                ...        ...  ...
2594084              2.0          2.0                1.0        2.0  ...
2594085              1.0          2.0                1.0        1.0  ...
2594086              1.0          2.0                2.0        1.0  ...
2594087              1.0          1.0                2.0        1.0  ...
2594088              1.0          1.0                2.0        2.0  ...

         Recommend_city  Find_job  Public_transportation  Roads_highways  \
0                   2.0       2.0                    2.0             2.0
1                   2.0       2.0                    2.0             1.0
2                   2.0       2.0                    2.0             2.0
3                   2.0       2.0                    2.0             1.0
4                   2.0       2.0                    1.0             1.0
...                 ...       ...                    ...             ...
2594084             1.0       2.0                    2.0             2.0
2594085             1.0       2.0                    2.0             2.0
2594086             1.0       2.0                    2.0             2.0
2594087             1.0       2.0                    2.0             2.0
2594088             2.0       2.0                    2.0             2.0

         Education  Air_quality  Water_quality  Health_care  Good_housing  \
0              2.0          1.0            1.0          2.0           2.0
1              1.0          1.0            1.0          2.0           2.0
2              1.0          1.0            1.0          2.0           2.0
3              1.0          1.0            1.0          2.0           2.0
4              1.0          1.0            2.0          2.0           2.0
...            ...          ...            ...          ...           ...
2594084        2.0          2.0            2.0          2.0           2.0
2594085        1.0          2.0            2.0          2.0           2.0
2594086        2.0          1.0            1.0          1.0           1.0
2594087        2.0          1.0            1.0          2.0           2.0
2594088        2.0          2.0            2.0          2.0           2.0

         Friends_make
0                 2.0
1                 2.0
2                 2.0
3                 2.0
4                 2.0
...               ...
2594084           1.0
2594085           1.0
2594086           1.0
2594087           2.0
2594088           2.0

[2594089 rows x 27 columns]

#### WP103-105: Racial_minority,Gay_les,Immigrants

In [106]:
Droped_datasetdf['Racial_minority'] = Droped_datasetdf['WP103']

In [107]:
Droped_datasetdf['Racial_minority'].value_counts().sort_index()

Racial_minority
1.0    1383344
2.0     549192
3.0     198432
4.0      10241
Name: count, dtype: int64

In [108]:
nan_count = Droped_datasetdf['Racial_minority'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 452880

In [109]:
Droped_datasetdf['Racial_minority'] = Droped_datasetdf['Racial_minority'].replace({3: 2, 4: 2})
Droped_datasetdf['Racial_minority'] = Droped_datasetdf['Racial_minority'].fillna(2)
Droped_new_df['Racial_minority'] = Droped_datasetdf['Racial_minority']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  ...  \
0                    1.0          1.0                2.0        1.0  ...
1                    1.0          1.0                1.0        1.0  ...
2                    1.0          1.0                1.0        1.0  ...
3                    1.0          1.0                2.0        1.0  ...
4                    1.0          1.0                2.0        1.0  ...
...                  ...          ...                ...        ...  ...
2594084              2.0          2.0                1.0        2.0  ...
2594085              1.0          2.0                1.0        1.0  ...
2594086              1.0          2.0                2.0        1.0  ...
2594087              1.0          1.0                2.0        1.0  ...
2594088              1.0          1.0                2.0        2.0  ...

         Find_job  Public_transportation  Roads_highways  Education  \
0             2.0                    2.0             2.0        2.0
1             2.0                    2.0             1.0        1.0
2             2.0                    2.0             2.0        1.0
3             2.0                    2.0             1.0        1.0
4             2.0                    1.0             1.0        1.0
...           ...                    ...             ...        ...
2594084       2.0                    2.0             2.0        2.0
2594085       2.0                    2.0             2.0        1.0
2594086       2.0                    2.0             2.0        2.0
2594087       2.0                    2.0             2.0        2.0
2594088       2.0                    2.0             2.0        2.0

         Air_quality  Water_quality  Health_care  Good_housing  Friends_make  \
0                1.0            1.0          2.0           2.0           2.0
1                1.0            1.0          2.0           2.0           2.0
2                1.0            1.0          2.0           2.0           2.0
3                1.0            1.0          2.0           2.0           2.0
4                1.0            2.0          2.0           2.0           2.0
...              ...            ...          ...           ...           ...
2594084          2.0            2.0          2.0           2.0           1.0
2594085          2.0            2.0          2.0           2.0           1.0
2594086          1.0            1.0          1.0           1.0           1.0
2594087          1.0            1.0          2.0           2.0           2.0
2594088          2.0            2.0          2.0           2.0           2.0

         Racial_minority
0                    2.0
1                    2.0
2                    2.0
3                    2.0
4                    2.0
...                  ...
2594084              2.0
2594085              1.0
2594086              1.0
2594087              2.0
2594088              2.0

[2594089 rows x 28 columns]

In [110]:
Droped_datasetdf['Gay_les'] = Droped_datasetdf['WP105']

In [111]:
Droped_datasetdf['Gay_les'].value_counts().sort_index()

Gay_les
1.0     663923
2.0    1039051
3.0     317429
4.0      28318
Name: count, dtype: int64

In [112]:
nan_count = Droped_datasetdf['Gay_les'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 545368

In [113]:
Droped_datasetdf['Gay_les'] = Droped_datasetdf['Gay_les'].replace({3: 2, 4: 2})
Droped_datasetdf['Gay_les'] = Droped_datasetdf['Gay_les'].fillna(2)
Droped_new_df['Gay_les'] = Droped_datasetdf['Gay_les']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  ...  \
0                    1.0          1.0                2.0        1.0  ...
1                    1.0          1.0                1.0        1.0  ...
2                    1.0          1.0                1.0        1.0  ...
3                    1.0          1.0                2.0        1.0  ...
4                    1.0          1.0                2.0        1.0  ...
...                  ...          ...                ...        ...  ...
2594084              2.0          2.0                1.0        2.0  ...
2594085              1.0          2.0                1.0        1.0  ...
2594086              1.0          2.0                2.0        1.0  ...
2594087              1.0          1.0                2.0        1.0  ...
2594088              1.0          1.0                2.0        2.0  ...

         Public_transportation  Roads_highways  Education  Air_quality  \
0                          2.0             2.0        2.0          1.0
1                          2.0             1.0        1.0          1.0
2                          2.0             2.0        1.0          1.0
3                          2.0             1.0        1.0          1.0
4                          1.0             1.0        1.0          1.0
...                        ...             ...        ...          ...
2594084                    2.0             2.0        2.0          2.0
2594085                    2.0             2.0        1.0          2.0
2594086                    2.0             2.0        2.0          1.0
2594087                    2.0             2.0        2.0          1.0
2594088                    2.0             2.0        2.0          2.0

         Water_quality  Health_care  Good_housing  Friends_make  \
0                  1.0          2.0           2.0           2.0
1                  1.0          2.0           2.0           2.0
2                  1.0          2.0           2.0           2.0
3                  1.0          2.0           2.0           2.0
4                  2.0          2.0           2.0           2.0
...                ...          ...           ...           ...
2594084            2.0          2.0           2.0           1.0
2594085            2.0          2.0           2.0           1.0
2594086            1.0          1.0           1.0           1.0
2594087            1.0          2.0           2.0           2.0
2594088            2.0          2.0           2.0           2.0

         Racial_minority  Gay_les
0                    2.0      2.0
1                    2.0      2.0
2                    2.0      2.0
3                    2.0      2.0
4                    2.0      2.0
...                  ...      ...
2594084              2.0      1.0
2594085              1.0      2.0
2594086              1.0      2.0
2594087              2.0      2.0
2594088              2.0      2.0

[2594089 rows x 29 columns]

In [114]:
Droped_datasetdf['Immigrants'] = Droped_datasetdf['WP106']

In [115]:
Droped_datasetdf['Immigrants'].value_counts().sort_index()

Immigrants
1.0    1366279
2.0     727006
3.0     226062
4.0      12168
Name: count, dtype: int64

In [116]:
nan_count = Droped_datasetdf['Immigrants'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 262574

In [117]:
Droped_datasetdf['Immigrants'] = Droped_datasetdf['Immigrants'].replace({3: 2, 4: 2})
Droped_datasetdf['Immigrants'] = Droped_datasetdf['Immigrants'].fillna(2)
Droped_new_df['Immigrants'] = Droped_datasetdf['Immigrants']
print(Droped_new_df)

         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   2.0      2.0        1.0           1.0         2.0
1               1.0   2.0      2.0        1.0           1.0         2.0
2               2.0   2.0      2.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         1.0
4               1.0   2.0      2.0        1.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2594084         2.0   1.0      1.0        1.0           2.0         2.0
2594085         2.0   1.0      1.0        1.0           2.0         1.0
2594086         2.0   1.0      1.0        1.0           2.0         1.0
2594087         2.0   1.0      1.0        1.0           1.0         1.0
2594088         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  ...  \
0                    1.0          1.0                2.0        1.0  ...
1                    1.0          1.0                1.0        1.0  ...
2                    1.0          1.0                1.0        1.0  ...
3                    1.0          1.0                2.0        1.0  ...
4                    1.0          1.0                2.0        1.0  ...
...                  ...          ...                ...        ...  ...
2594084              2.0          2.0                1.0        2.0  ...
2594085              1.0          2.0                1.0        1.0  ...
2594086              1.0          2.0                2.0        1.0  ...
2594087              1.0          1.0                2.0        1.0  ...
2594088              1.0          1.0                2.0        2.0  ...

         Roads_highways  Education  Air_quality  Water_quality  Health_care  \
0                   2.0        2.0          1.0            1.0          2.0
1                   1.0        1.0          1.0            1.0          2.0
2                   2.0        1.0          1.0            1.0          2.0
3                   1.0        1.0          1.0            1.0          2.0
4                   1.0        1.0          1.0            2.0          2.0
...                 ...        ...          ...            ...          ...
2594084             2.0        2.0          2.0            2.0          2.0
2594085             2.0        1.0          2.0            2.0          2.0
2594086             2.0        2.0          1.0            1.0          1.0
2594087             2.0        2.0          1.0            1.0          2.0
2594088             2.0        2.0          2.0            2.0          2.0

         Good_housing  Friends_make  Racial_minority  Gay_les  Immigrants
0                 2.0           2.0              2.0      2.0         2.0
1                 2.0           2.0              2.0      2.0         2.0
2                 2.0           2.0              2.0      2.0         2.0
3                 2.0           2.0              2.0      2.0         2.0
4                 2.0           2.0              2.0      2.0         2.0
...               ...           ...              ...      ...         ...
2594084           2.0           1.0              2.0      1.0         1.0
2594085           2.0           1.0              1.0      2.0         1.0
2594086           1.0           1.0              1.0      2.0         2.0
2594087           2.0           2.0              2.0      2.0         2.0
2594088           2.0           2.0              2.0      2.0         2.0

[2594089 rows x 30 columns]

#### WP108-118,129,130,9050: Donation,voluntary,Help_stranger,Voice_opinion,Confidence,Safety,Steal,Assualted,Children_respected,Children_learn,Women_respected

In [118]:
Droped_datasetdf['Donation'] = Droped_datasetdf['WP108']

In [119]:
Droped_datasetdf['Voluntary'] = Droped_datasetdf['WP109']

In [120]:
Droped_datasetdf['Help_stranger'] = Droped_datasetdf['WP110']

In [121]:
Droped_datasetdf['Voice_opinion'] = Droped_datasetdf['WP111']

In [122]:
Droped_datasetdf['Confidence'] = Droped_datasetdf['WP112']

In [123]:
Droped_datasetdf['Safety'] = Droped_datasetdf['WP113']

In [124]:
Droped_datasetdf['Steal'] = Droped_datasetdf['WP117']

In [125]:
Droped_datasetdf['Assualted'] = Droped_datasetdf['WP118']

In [126]:
Droped_datasetdf['Children_respected'] = Droped_datasetdf['WP129']

In [127]:
Droped_datasetdf['Children_learn'] = Droped_datasetdf['WP130']

In [128]:
Droped_datasetdf['Women_respected'] = Droped_datasetdf['WP9050']

In [129]:
column_108_9050 = ['Donation','Voluntary','Help_stranger','Voice_opinion','Confidence','Safety','Steal','Assualted','Children_respected'
                  ,'Children_learn','Women_respected']

In [130]:
Droped_datasetdf[column_108_9050].value_counts().sort_index()

Donation  Voluntary  Help_stranger  Voice_opinion  Confidence  Safety  Steal  Assualted  Children_respected  Children_learn  Women_respected
1.0       1.0        1.0            1.0            1.0         1.0     1.0    1.0        1.0                 1.0             1.0                1000
                                                                                                                             2.0                  78
                                                                                                                             3.0                   9
                                                                                                                             4.0                   1
                                                                                                             2.0             1.0                  97
                                                                                                                                                ...
4.0       4.0        4.0            4.0            4.0         4.0     4.0    4.0        2.0                 2.0             2.0                   2
                                                                                         3.0                 3.0             2.0                   1
                                                                                         4.0                 3.0             3.0                   1
                                                                                                             4.0             2.0                   1
                                                                                                                             4.0                  14
Name: count, Length: 25064, dtype: int64

In [131]:
nan_count = Droped_datasetdf[column_108_9050].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Donation              189759
Voluntary             187253
Help_stranger         193819
Voice_opinion         675056
Confidence            419460
Safety                206175
Steal                 268482
Assualted             786324
Children_respected    177618
Children_learn        156114
Women_respected       731999
dtype: int64

In [132]:
Droped_datasetdf[column_108_9050] = Droped_datasetdf[column_108_9050].replace({3: 2, 4: 2})
Droped_datasetdf[column_108_9050] = Droped_datasetdf[column_108_9050].fillna(2)
Droped_new_df[column_108_9050] = Droped_datasetdf[column_108_9050]

#### WP132,134: Preserve_environment,Freedom_life

In [133]:
Droped_datasetdf['Preserve_environment'] = Droped_datasetdf['WP132']

In [134]:
Droped_datasetdf['Preserve_environment'].value_counts().sort_index()

Preserve_environment
1.0    1184351
2.0    1073603
3.0     113165
4.0       4222
Name: count, dtype: int64

In [135]:
nan_count = Droped_datasetdf['Preserve_environment'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 218748

In [136]:
Droped_datasetdf['Preserve_environment'] = Droped_datasetdf['Preserve_environment'].replace({3: 2, 4: 2})
Droped_datasetdf['Preserve_environment'] = Droped_datasetdf['Preserve_environment'].fillna(2)
Droped_new_df['Preserve_environment'] = Droped_datasetdf['Preserve_environment']

In [137]:
Droped_datasetdf['Freedom_life'] = Droped_datasetdf['WP134']

In [138]:
Droped_datasetdf['Freedom_life'].value_counts().sort_index()

Freedom_life
1.0    1767046
2.0     584126
3.0      73052
4.0       7036
Name: count, dtype: int64

In [139]:
nan_count = Droped_datasetdf['Freedom_life'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 162829

In [140]:
Droped_datasetdf['Freedom_life'] = Droped_datasetdf['Freedom_life'].replace({3: 2, 4: 2})
Droped_datasetdf['Freedom_life'] = Droped_datasetdf['Freedom_life'].fillna(2)
Droped_new_df['Freedom_life'] = Droped_datasetdf['Freedom_life']

#### WP137-144:Military,Judicial_system,Government,Banks,election_honesty

In [141]:
Droped_datasetdf['Military'] = Droped_datasetdf['WP137']

In [142]:
Droped_datasetdf['Judicial_system'] = Droped_datasetdf['WP138']

In [143]:
Droped_datasetdf['Government'] = Droped_datasetdf['WP139']

In [144]:
Droped_datasetdf['Banks'] = Droped_datasetdf['WP141']

In [145]:
Droped_datasetdf['election_honesty'] = Droped_datasetdf['WP144']

In [146]:
column_137_144 = ['Military','Judicial_system','Government','Banks','election_honesty']

In [147]:
Droped_datasetdf[column_137_144].value_counts().sort_index()

Military  Judicial_system  Government  Banks  election_honesty
1.0       1.0              1.0         1.0    1.0                 437699
                                              2.0                  88094
                                              3.0                  18806
                                              4.0                   1213
                                       2.0    1.0                  58333
                                                                   ...
4.0       4.0              4.0         3.0    4.0                    100
                                       4.0    1.0                     50
                                              2.0                     67
                                              3.0                     56
                                              4.0                   1580
Name: count, Length: 1011, dtype: int64

In [148]:
nan_count = Droped_datasetdf[column_137_144].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Military            503224
Judicial_system     392723
Government          426999
Banks               240493
election_honesty    461870
dtype: int64

In [149]:
Droped_datasetdf[column_137_144] = Droped_datasetdf[column_137_144].replace({3: 2, 4: 2})
Droped_datasetdf[column_137_144] = Droped_datasetdf[column_137_144].fillna(2)
Droped_new_df[column_137_144] = Droped_datasetdf[column_137_144]

#### WP145:Corruption_bussiness

In [150]:
Droped_datasetdf['Corruption_business'] = Droped_datasetdf['WP145']

In [151]:
Droped_datasetdf['Corruption_business'].value_counts().sort_index()

Corruption_business
1.0    1531200
2.0     507609
3.0     249855
4.0      11085
Name: count, dtype: int64

In [152]:
nan_count = Droped_datasetdf['Corruption_business'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 294340

In [153]:
Droped_datasetdf['Corruption_business'] = Droped_datasetdf['Corruption_business'].replace({3: 2, 4: 2})
Droped_datasetdf['Corruption_business'] = Droped_datasetdf['Corruption_business'].fillna(2)
Droped_new_df['Corruption_business'] = Droped_datasetdf['Corruption_business']

#### WP146:Corruption_government

In [154]:
Droped_datasetdf['Corruption_government'] = Droped_datasetdf['WP146']

In [155]:
Droped_datasetdf['Corruption_government'].value_counts().sort_index()

Corruption_government
1.0    1459132
2.0     484699
3.0     233777
4.0      15072
Name: count, dtype: int64

In [156]:
nan_count = Droped_datasetdf['Corruption_government'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 401409

In [157]:
Droped_datasetdf['Corruption_government'] = Droped_datasetdf['Corruption_government'].replace({3: 2, 4: 2})
Droped_datasetdf['Corruption_government'] = Droped_datasetdf['Corruption_government'].fillna(2)
Droped_new_df['Corruption_government'] = Droped_datasetdf['Corruption_government']

#### WP1219: Gender

In [158]:
Droped_datasetdf['Gender'] = Droped_datasetdf['WP1219']

In [159]:
Droped_datasetdf['Gender'].value_counts().sort_index()

Gender
1.0    1214884
2.0    1379183
Name: count, dtype: int64

In [160]:
nan_count = Droped_datasetdf['Gender'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 22

In [161]:
Droped_new_df['Gender'] = Droped_datasetdf['Gender']

#### WP150:Leadership_country

In [162]:
Droped_datasetdf['Leadership_country'] = Droped_datasetdf['WP150']

In [163]:
Droped_datasetdf['Leadership_country'].value_counts().sort_index()

Leadership_country
1.0    976654
2.0    925114
3.0    148746
4.0     24969
Name: count, dtype: int64

In [164]:
nan_count = Droped_datasetdf['Leadership_country'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 518606

In [165]:
Droped_datasetdf['Leadership_country'] = Droped_datasetdf['Leadership_country'].replace({3: 2, 4: 2})
Droped_datasetdf['Leadership_country'] = Droped_datasetdf['Leadership_country'].fillna(2)
Droped_new_df['Leadership_country'] = Droped_datasetdf['Leadership_country']

#### WP1223: Marital_status

In [166]:
Droped_datasetdf['Marital_status'] = Droped_datasetdf['WP1223']

In [167]:
Droped_datasetdf['Marital_status'].value_counts().sort_index()

Marital_status
1.0     755250
2.0    1339509
3.0      56718
4.0      96789
5.0     178555
6.0       5568
7.0       7064
8.0     128517
Name: count, dtype: int64

In [168]:
nan_count = Droped_datasetdf['Marital_status'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 26119

In [169]:
Droped_new_df['Marital_status'] = Droped_datasetdf['Marital_status']

#### WP16056:Access_internet

In [170]:
Droped_datasetdf['Acess_internet'] = Droped_datasetdf['WP16056']

In [171]:
Droped_datasetdf['Acess_internet'].value_counts().sort_index()

Acess_internet
1.0    713381
2.0    395872
3.0      4557
4.0      1280
Name: count, dtype: int64

In [172]:
nan_count = Droped_datasetdf['Acess_internet'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 1478999

In [173]:
Droped_datasetdf['Acess_internet'] = Droped_datasetdf['Acess_internet'].replace({3: 2, 4: 2})
Droped_datasetdf['Acess_internet'] = Droped_datasetdf['Acess_internet'].fillna(2)
Droped_new_df['Acess_internet'] = Droped_datasetdf['Acess_internet']

#### WP15862:Use_internet

In [174]:
Droped_datasetdf['Use_internet'] = Droped_datasetdf['WP15862']

In [175]:
Droped_datasetdf['Use_internet'].value_counts().sort_index()

Use_internet
1.0    650010
2.0     62603
3.0       560
4.0       208
Name: count, dtype: int64

In [176]:
nan_count = Droped_datasetdf['Use_internet'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 1880708

In [177]:
Droped_datasetdf['Use_internet'] = Droped_datasetdf['Use_internet'].replace({3: 2, 4: 2})
Droped_datasetdf['Use_internet'] = Droped_datasetdf['Use_internet'].fillna(2)
Droped_new_df['Use_internet'] = Droped_datasetdf['Use_internet']

#### WP19544:Phone_internet

In [178]:
Droped_datasetdf['Phone_internet'] = Droped_datasetdf['WP19544']

In [179]:
Droped_datasetdf['Phone_internet'].value_counts().sort_index()

Phone_internet
1.0    576783
2.0    187388
3.0      5329
4.0       574
Name: count, dtype: int64

In [180]:
nan_count = Droped_datasetdf['Phone_internet'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 1824015

In [181]:
Droped_datasetdf['Phone_internet'] = Droped_datasetdf['Phone_internet'].replace({3: 2, 4: 2})
Droped_datasetdf['Phone_internet'] = Droped_datasetdf['Phone_internet'].fillna(2)
Droped_new_df['Phone_internet'] = Droped_datasetdf['Phone_internet']

### Non-binary variables

#### WP31,88,2319:Life_standard, Economic_condition, Income_feeling

In [182]:
Droped_datasetdf['Life_standard'] = Droped_datasetdf['WP31']
Droped_datasetdf['Economic_condition'] = Droped_datasetdf['WP88']
Droped_datasetdf['Income_feeling'] = Droped_datasetdf['WP2319']

In [183]:
columns_non_binary = ['Life_standard','Economic_condition','Income_feeling']

In [184]:
Droped_datasetdf[columns_non_binary].value_counts().sort_index()

Life_standard  Economic_condition  Income_feeling
1.0            1.0                 1.0               188186
                                   2.0               269832
                                   3.0               110528
                                   4.0                45691
                                   5.0                 6229
                                                      ...
5.0            5.0                 2.0                   68
                                   3.0                   41
                                   4.0                   26
                                   5.0                    6
                                   6.0                   62
Name: count, Length: 150, dtype: int64

In [185]:
nan_count = Droped_datasetdf[columns_non_binary].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Life_standard         142727
Economic_condition    262622
Income_feeling        146446
dtype: int64

In [186]:
Droped_datasetdf[columns_non_binary] = Droped_datasetdf[columns_non_binary].applymap(lambda x: 2 if x not in [1, 2, 3] else x)
Droped_datasetdf[columns_non_binary] = Droped_datasetdf[columns_non_binary].fillna(2)
Droped_new_df[columns_non_binary] = Droped_datasetdf[columns_non_binary]

/var/folders/_z/l4bh9x2d7_q8069ftw3jb2cr0000gn/T/ipykernel_53643/1692109213.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  Droped_datasetdf[columns_non_binary] = Droped_datasetdf[columns_non_binary].applymap(lambda x: 2 if x not in [1, 2, 3] else x)

#### WP16,18:Wellbeing_ladder, Ladder_future

In [187]:
Droped_datasetdf['Wellbeing_ladder'] = Droped_datasetdf['WP16']
Droped_datasetdf['Ladder_future'] = Droped_datasetdf['WP18']

In [188]:
columns_wellbeing = ['Wellbeing_ladder','Ladder_future']

In [189]:
Droped_datasetdf[columns_wellbeing].value_counts().sort_index()

Wellbeing_ladder  Ladder_future
0.0               0.0              21793
                  1.0               5407
                  2.0               5793
                  3.0               5073
                  4.0               3079
                                   ...
99.0              8.0                 70
                  9.0                 47
                  10.0               160
                  98.0               489
                  99.0              1759
Name: count, Length: 169, dtype: int64

In [190]:
nan_count = Droped_datasetdf[columns_wellbeing].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Wellbeing_ladder    14604
Ladder_future       14603
dtype: int64

In [191]:
Droped_datasetdf = Droped_datasetdf[~((Droped_datasetdf['Wellbeing_ladder'].isin([98, 99])) | (Droped_datasetdf['Ladder_future'].isin([98, 99])))]

# Reset index (optional)
Droped_datasetdf.reset_index(drop=True, inplace=True)

In [192]:
Droped_new_df[columns_wellbeing] = Droped_datasetdf[columns_wellbeing]

#### WP1230: Children_number

In [193]:
Droped_datasetdf['Children_number'] = Droped_datasetdf['WP1230']

In [194]:
Droped_datasetdf['Children_number'].value_counts().sort_index()

Children_number
0.0     1082508
1.0      417803
2.0      374309
3.0      192746
4.0       97830
5.0       50772
6.0       27004
7.0       14291
8.0        8627
9.0        4320
10.0       4053
11.0       1518
12.0       1687
13.0        776
14.0        553
15.0        987
16.0        281
17.0        219
18.0        154
19.0         74
20.0        403
21.0         67
22.0         70
23.0         37
24.0         26
25.0         85
26.0         19
27.0         14
28.0         12
29.0          5
30.0         61
31.0          6
32.0          6
33.0          5
34.0          3
35.0         11
36.0          4
37.0          3
38.0          3
39.0          1
40.0          3
41.0          1
42.0          1
43.0          1
44.0          2
45.0          2
47.0          3
50.0          4
51.0          6
52.0          4
55.0          3
59.0          1
60.0          2
62.0          1
64.0          1
90.0          1
97.0         72
98.0       3105
99.0       7621
Name: count, dtype: int64

In [195]:
nan_count = Droped_datasetdf['Children_number'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 73822

In [196]:
Droped_datasetdf = Droped_datasetdf[~((Droped_datasetdf['Children_number'].isin([98, 99])))]

In [197]:
Droped_datasetdf['Children_number'] = Droped_datasetdf['Children_number'].apply(lambda x: 1 if x > 0 else 0)

In [198]:
Droped_new_df['Children_number'] = Droped_datasetdf['Children_number']

#### EMP_2010:Employment

In [199]:
Droped_datasetdf['Employment'] = Droped_datasetdf['EMP_2010']

In [200]:
Droped_datasetdf['Employment'].value_counts().sort_index()

Employment
1.0    552945
2.0    265157
3.0    144939
4.0    128002
5.0    152804
6.0    725801
Name: count, dtype: int64

In [201]:
nan_count = Droped_datasetdf['Employment'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 385635

In [202]:
Droped_datasetdf['Employment'] = Droped_datasetdf['Employment'].fillna(5)

In [203]:
nan_count = Droped_datasetdf['Employment'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 0

In [204]:
Droped_new_df['Employment'] = Droped_datasetdf['Employment']

In [205]:
Droped_new_df.shape

(2594089, 63)

### INCOME_2

In [206]:
Droped_new_df['INCOME_2'] = Droped_datasetdf['INCOME_2']

In [207]:
Droped_new_df['INCOME_2'].value_counts().sort_index()

INCOME_2
0.000000e+00    44026
8.139643e-08      135
8.991144e-08        1
1.713079e-07        1
2.441893e-07       11
                ...
6.542307e+07        1
9.566582e+07        1
1.360977e+08        1
1.457195e+08        1
8.980336e+08        2
Name: count, Length: 169562, dtype: int64

In [208]:
nan_count = Droped_new_df['INCOME_2'].isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': 615344

In [209]:
def fill_na_with_group_mean(group):
    group['INCOME_2'] = group['INCOME_2'].fillna(group['INCOME_2'].mean())
    return group

# Group by 'COUNTRY_IS03' and 'wave', then apply the function
Droped_new_df['COUNTRY_ISO3'] = Droped_datasetdf['COUNTRY_ISO3']
Droped_new_df['wave'] = Droped_datasetdf['wave']
Droped_new_df = Droped_new_df.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)
# Remove the group keys added by groupby
Droped_new_df = Droped_new_df.reset_index(drop=True)

print("\nUpdated DataFrame with NaN values replaced in 'INCOME_2':")
print(Droped_new_df)

/var/folders/_z/l4bh9x2d7_q8069ftw3jb2cr0000gn/T/ipykernel_53643/1179884599.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  Droped_new_df = Droped_new_df.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)

Updated DataFrame with NaN values replaced in 'INCOME_2':
         Disability  Food  Shelter  Relatives  Satisfy_life  Wellrested  \
0               2.0   1.0      1.0        2.0           1.0         2.0
1               2.0   1.0      1.0        1.0           1.0         1.0
2               2.0   1.0      1.0        1.0           1.0         1.0
3               2.0   2.0      2.0        1.0           1.0         2.0
4               2.0   1.0      1.0        2.0           1.0         1.0
...             ...   ...      ...        ...           ...         ...
2355278         2.0   2.0      2.0        1.0           2.0         2.0
2355279         2.0   2.0      2.0        1.0           1.0         1.0
2355280         2.0   2.0      2.0        1.0           1.0         1.0
2355281         2.0   2.0      2.0        1.0           2.0         1.0
2355282         2.0   1.0      1.0        1.0           2.0         2.0

         Treated_respect  Smile_Laugh  Learn_interesting  Enjoyment  ...  \
0                    1.0          1.0                1.0        1.0  ...
1                    1.0          1.0                1.0        2.0  ...
2                    1.0          1.0                2.0        1.0  ...
3                    2.0          2.0                2.0        1.0  ...
4                    1.0          2.0                1.0        2.0  ...
...                  ...          ...                ...        ...  ...
2355278              1.0          2.0                1.0        2.0  ...
2355279              1.0          2.0                1.0        1.0  ...
2355280              1.0          1.0                1.0        1.0  ...
2355281              1.0          1.0                2.0        1.0  ...
2355282              1.0          1.0                1.0        1.0  ...

         Life_standard  Economic_condition  Income_feeling  Wellbeing_ladder  \
0                  2.0                 2.0             3.0               6.0
1                  1.0                 2.0             3.0               2.0
2                  2.0                 2.0             2.0               7.0
3                  2.0                 2.0             3.0               5.0
4                  1.0                 2.0             3.0               4.0
...                ...                 ...             ...               ...
2355278            3.0                 2.0             3.0               2.0
2355279            2.0                 2.0             2.0               5.0
2355280            1.0                 3.0             1.0               7.0
2355281            1.0                 3.0             1.0               2.0
2355282            3.0                 3.0             2.0               5.0

         Ladder_future  Children_number  Employment  INCOME_2  COUNTRY_ISO3  \
0                  7.0              1.0         5.0       NaN           AFG
1                  5.0              1.0         5.0       NaN           AFG
2                  8.0              1.0         5.0       NaN           AFG
3                  5.0              1.0         5.0       NaN           AFG
4                  5.0              0.0         5.0       NaN           AFG
...                ...              ...         ...       ...           ...
2355278            9.0              1.0         2.0       NaN           ZWE
2355279            6.0              1.0         3.0       NaN           ZWE
2355280            5.0              1.0         6.0       NaN           ZWE
2355281            2.0              1.0         6.0       NaN           ZWE
2355282            8.0              1.0         2.0       NaN           ZWE

         wave
0         3.0
1         3.0
2         3.0
3         3.0
4         3.0
...       ...
2355278  17.0
2355279  17.0
2355280  17.0
2355281  17.0
2355282  17.0

[2355283 rows x 66 columns]

### Filter columns with nan

#### Check nan number and drop bad data

In [210]:
nan_counts = Droped_new_df.isna().sum()
for line in zip(Droped_new_df.columns, nan_counts):
    print(line)

('Disability', 0)
('Food', 0)
('Shelter', 0)
('Relatives', 0)
('Satisfy_life', 0)
('Wellrested', 0)
('Treated_respect', 0)
('Smile_Laugh', 0)
('Learn_interesting', 0)
('Enjoyment', 0)
('Physical_pain', 0)
('Worry', 0)
('Sadness', 0)
('Stress', 0)
('Anger', 0)
('Satisfied_city', 0)
('Move_city', 0)
('Recommend_city', 0)
('Find_job', 0)
('Public_transportation', 0)
('Roads_highways', 0)
('Education', 0)
('Air_quality', 0)
('Water_quality', 0)
('Health_care', 0)
('Good_housing', 0)
('Friends_make', 0)
('Racial_minority', 0)
('Gay_les', 0)
('Immigrants', 0)
('Donation', 0)
('Voluntary', 0)
('Help_stranger', 0)
('Voice_opinion', 0)
('Confidence', 0)
('Safety', 0)
('Steal', 0)
('Assualted', 0)
('Children_respected', 0)
('Children_learn', 0)
('Women_respected', 0)
('Preserve_environment', 0)
('Freedom_life', 0)
('Military', 0)
('Judicial_system', 0)
('Government', 0)
('Banks', 0)
('election_honesty', 0)
('Corruption_business', 0)
('Corruption_government', 0)
('Gender', 22)
('Leadership_country', 0)
('Marital_status', 25943)
('Acess_internet', 0)
('Use_internet', 0)
('Phone_internet', 0)
('Life_standard', 0)
('Economic_condition', 0)
('Income_feeling', 0)
('Wellbeing_ladder', 14561)
('Ladder_future', 14570)
('Children_number', 0)
('Employment', 0)
('INCOME_2', 374920)
('COUNTRY_ISO3', 0)
('wave', 0)

In [211]:
Droped_new_df = Droped_new_df.dropna()

In [212]:
print("Shape of DataFrame after dropping columns:", Droped_new_df.shape)
print("Remaining columns:", Droped_new_df.columns.tolist())

Shape of DataFrame after dropping columns: (1967478, 66)
Remaining columns: ['Disability', 'Food', 'Shelter', 'Relatives', 'Satisfy_life', 'Wellrested', 'Treated_respect', 'Smile_Laugh', 'Learn_interesting', 'Enjoyment', 'Physical_pain', 'Worry', 'Sadness', 'Stress', 'Anger', 'Satisfied_city', 'Move_city', 'Recommend_city', 'Find_job', 'Public_transportation', 'Roads_highways', 'Education', 'Air_quality', 'Water_quality', 'Health_care', 'Good_housing', 'Friends_make', 'Racial_minority', 'Gay_les', 'Immigrants', 'Donation', 'Voluntary', 'Help_stranger', 'Voice_opinion', 'Confidence', 'Safety', 'Steal', 'Assualted', 'Children_respected', 'Children_learn', 'Women_respected', 'Preserve_environment', 'Freedom_life', 'Military', 'Judicial_system', 'Government', 'Banks', 'election_honesty', 'Corruption_business', 'Corruption_government', 'Gender', 'Leadership_country', 'Marital_status', 'Acess_internet', 'Use_internet', 'Phone_internet', 'Life_standard', 'Economic_condition', 'Income_feeling', 'Wellbeing_ladder', 'Ladder_future', 'Children_number', 'Employment', 'INCOME_2', 'COUNTRY_ISO3', 'wave']

In [213]:
nan_count = Droped_new_df.isna().sum()
print(f"Number of NaN values': {nan_count}")

Number of NaN values': Disability         0
Food               0
Shelter            0
Relatives          0
Satisfy_life       0
                  ..
Children_number    0
Employment         0
INCOME_2           0
COUNTRY_ISO3       0
wave               0
Length: 66, dtype: int64

In [214]:
parquet_file_path = '/Users/shibo/Desktop/GallupWellBeingGroup/Data/Droped_new_df.parquet'
Droped_new_df.to_parquet(parquet_file_path, engine='pyarrow')

In [28]:
nan_counts = Droped_nan_datasetdf.isna().sum()
for line in zip(Droped_nan_datasetdf.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 379654)
('WP16', 14593)
('WP18', 14599)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 19)
('WP1220', 3112)
('WP1223', 24733)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)

In [29]:
def fill_na_with_group_mean(group):
    group['INCOME_2'] = group['INCOME_2'].fillna(group['INCOME_2'].mean())
    return group

# Group by 'COUNTRY_IS03' and 'wave', then apply the function
Droped_nan_datasetdf = Droped_nan_datasetdf.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)
# Remove the group keys added by groupby
Droped_nan_datasetdf = Droped_nan_datasetdf.reset_index(drop=True)

print("\nUpdated DataFrame with NaN values replaced in 'INCOME_2':")
print(Droped_nan_datasetdf)

/var/folders/_z/l4bh9x2d7_q8069ftw3jb2cr0000gn/T/ipykernel_44113/3381236747.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  Droped_nan_datasetdf = Droped_nan_datasetdf.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)

Updated DataFrame with NaN values replaced in 'INCOME_2':
         wave COUNTRY_ISO3  INCOME_2  WP16  WP18  WP23  WP27  WP30  WP31  \
0           3          AFG       NaN   6.0   7.0   1.0   1.0   1.0   1.0
1           3          AFG       NaN   2.0   5.0   1.0   1.0   2.0   3.0
2           3          AFG       NaN   7.0   8.0   2.0   1.0   1.0   1.0
3           3          AFG       NaN   5.0   5.0   1.0   1.0   1.0   1.0
4           3          AFG       NaN   4.0   5.0   2.0   1.0   1.0   1.0
...       ...          ...       ...   ...   ...   ...   ...   ...   ...
2366004    17          ZWE       NaN   2.0   9.0   2.0   2.0   2.0   1.0
2366005    17          ZWE       NaN   5.0   6.0   2.0   1.0   2.0   3.0
2366006    17          ZWE       NaN   7.0   5.0   1.0   1.0   1.0   3.0
2366007    17          ZWE       NaN   2.0   2.0   2.0   2.0   2.0   3.0
2366008    17          ZWE       NaN   5.0   8.0   1.0   1.0   2.0   2.0

         WP40  ...  WP150  WP1219  WP1220  WP1223  EMP_2010  WP1230  WP2319  \
0         2.0  ...    1.0     1.0    20.0     1.0       5.0       1     1.0
1         1.0  ...    2.0     1.0    30.0     2.0       5.0       1     2.0
2         2.0  ...    1.0     1.0    17.0     1.0       5.0       1     1.0
3         1.0  ...    1.0     1.0    45.0     2.0       5.0       1     1.0
4         2.0  ...    2.0     1.0    19.0     1.0       5.0       0     2.0
...       ...  ...    ...     ...     ...     ...       ...     ...     ...
2366004   1.0  ...    1.0     2.0    29.0     4.0       2.0       1     2.0
2366005   1.0  ...    1.0     2.0    26.0     2.0       3.0       1     3.0
2366006   1.0  ...    1.0     2.0    24.0     1.0       6.0       1     3.0
2366007   1.0  ...    2.0     2.0    36.0     2.0       6.0       1     2.0
2366008   2.0  ...    2.0     2.0    24.0     2.0       2.0       1     2.0

         WP16056  WP15862  WP19544
0            2.0      2.0      2.0
1            2.0      2.0      2.0
2            2.0      2.0      2.0
3            2.0      2.0      2.0
4            2.0      2.0      2.0
...          ...      ...      ...
2366004      1.0      1.0      1.0
2366005      2.0      2.0      2.0
2366006      1.0      1.0      1.0
2366007      1.0      1.0      1.0
2366008      1.0      1.0      1.0

[2366009 rows x 65 columns]

In [30]:
num_nan_income_2 = Droped_nan_datasetdf['INCOME_2'].isna().sum()
print(f"\nNumber of NaN values in 'INCOME_2' column: {num_nan_income_2}")

Number of NaN values in 'INCOME_2' column: 378035

In [31]:
columns_to_check = ['INCOME_2','WP16', 'WP18', 'WP1219', 'WP1220']
Droped_nan_datasetdf = Droped_nan_datasetdf.dropna(subset=columns_to_check)

In [32]:
nan_counts = Droped_nan_datasetdf.isna().sum()
for line in zip(Droped_nan_datasetdf.columns, nan_counts):
    print(line)

print("Shape of DataFrame after dropping columns:", Droped_nan_datasetdf.shape)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 0)
('WP16', 0)
('WP18', 0)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 0)
('WP1220', 0)
('WP1223', 5258)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)
Shape of DataFrame after dropping columns: (1980424, 65)

In [33]:
Droped_fullnan_datasetdf = Droped_nan_datasetdf.dropna()

# Display the updated DataFrame
print("\nUpdated DataFrame after dropping rows with any NaN values:")
print(Droped_fullnan_datasetdf)

Updated DataFrame after dropping rows with any NaN values:
         wave COUNTRY_ISO3     INCOME_2  WP16  WP18  WP23  WP27  WP30  WP31  \
860         4          AFG  2830.160508   2.0   4.0   1.0   2.0   2.0   2.0
861         4          AFG  8086.172880   5.0   6.0   2.0   1.0   1.0   1.0
862         4          AFG  6468.938304   4.0   3.0   2.0   1.0   1.0   2.0
863         4          AFG  2425.851864   3.0   5.0   2.0   1.0   2.0   1.0
864         4          AFG  5660.321016   6.0   7.0   2.0   1.0   1.0   2.0
...       ...          ...          ...   ...   ...   ...   ...   ...   ...
2362157    13          ZWE  1825.338810   0.0   2.0   2.0   1.0   1.0   3.0
2362158    13          ZWE  5704.183781   2.0   8.0   2.0   1.0   2.0   3.0
2362159    13          ZWE  6845.020537   1.0   2.0   1.0   1.0   1.0   1.0
2362160    13          ZWE  6388.685835   0.0   2.0   2.0   1.0   1.0   3.0
2362161    13          ZWE  6845.020537   0.0   3.0   2.0   1.0   2.0   3.0

         WP40  ...  WP150  WP1219  WP1220  WP1223  EMP_2010  WP1230  WP2319  \
860       1.0  ...    2.0     1.0    65.0     2.0       1.0       1     2.0
861       2.0  ...    1.0     1.0    55.0     2.0       5.0       1     2.0
862       2.0  ...    2.0     1.0    16.0     1.0       6.0       1     3.0
863       2.0  ...    2.0     1.0    45.0     2.0       1.0       0     2.0
864       2.0  ...    1.0     1.0    38.0     2.0       1.0       1     2.0
...       ...  ...    ...     ...     ...     ...       ...     ...     ...
2362157   1.0  ...    1.0     1.0    24.0     1.0       1.0       1     2.0
2362158   1.0  ...    2.0     1.0    32.0     2.0       1.0       0     3.0
2362159   1.0  ...    1.0     1.0    46.0     2.0       2.0       1     2.0
2362160   1.0  ...    1.0     2.0    16.0     1.0       6.0       1     3.0
2362161   1.0  ...    1.0     2.0    23.0     2.0       4.0       0     3.0

         WP16056  WP15862  WP19544
860          2.0      2.0      2.0
861          2.0      2.0      2.0
862          2.0      2.0      2.0
863          2.0      2.0      2.0
864          2.0      2.0      2.0
...          ...      ...      ...
2362157      1.0      2.0      1.0
2362158      1.0      2.0      1.0
2362159      2.0      2.0      2.0
2362160      2.0      2.0      2.0
2362161      1.0      2.0      1.0

[1975166 rows x 65 columns]

In [34]:
nan_counts = Droped_fullnan_datasetdf.isna().sum()
for line in zip(Droped_fullnan_datasetdf.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 0)
('WP16', 0)
('WP18', 0)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 0)
('WP1220', 0)
('WP1223', 0)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)