# Raw Dataset for all studies in this Group

This code is to create the dataset including all variables available in the Codebook       
Other members could re-wash it for their own purposes.

In [1]:
%pwd

'/mnt/f/ESG09_Project/Code'

In [2]:
cd ..

/mnt/f/ESG09_Project

/home/zhang/miniconda3/envs/tf/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

## Import Package

**Note:**: this washing process keep the potential variable as much as possible

In [3]:
import os
import pandas as pd

## Load dataset

In [4]:
filenames = ["../GallupData2023/Gallup_World_Poll_Wave_1_5_032023.dta", 
             "../GallupData2023/Gallup_World_Poll_Wave_6_10_032023.dta",
             "../GallupData2023/Gallup_World_Poll_Wave_11_17_032023.dta"]

## Wash Dateset

In [5]:
variable_list = ['wave', 'COUNTRY_ISO3', 'INCOME_1', 'INCOME_2', 'INCOME_3', 'INCOME_4', 'INCOME_5', 'INCOME_6', 'INCOME_7', 
                   'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31', 'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 
                   'WP67', 'WP68', 'WP69', 'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP19472', 'WP88', 
                   'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP96', 'WP97', 'WP98', 'WP10248', 'WP103', 
                   'WP105', 'WP106', 'WP108', 'WP109', 'WP110', 'WP111', 'WP112', 'WP113', 'WP117', 'WP118', 'WP119', 
                   'WP129', 'WP130', 'WP9050', 'WP131', 'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141', 'WP144', 
                   'WP10251', 'WP145', 'WP146', 'WP150', 'WP151', 'WP153', 'WP155', 'WP156', 'WP13125', 'WP1219', 
                   'WP1220', 'WP1223', 'EMP_2010', 'WP1230', 'WP1233', 'WP2319', 'WP4657', 'WP9042', 'WP9048', 'WP17625', 
                   'WP17626', 'WP16056', 'WP15862', 'WP19544', 'WP3117']

In [6]:
dfs = []    # Storing processed DataFrames

In [7]:
for filename in filenames:
    # Reading  file
    df = pd.read_stata(filename, convert_categoricals=False)
    
    # Get the actual column names in the DataFrame
    existing_columns = set(df.columns)
    
    # Find columns in variable_list that are not present in the DataFrame
    variable_list_nonexisting = set(variable_list) - existing_columns
    
    # Use the reindex() function to select all columns in variable_list. For columns that do not exist, their values will be set to NaN.
    df_selected = df.reindex(columns=variable_list)
    
    # Print the actual column names
    print(f"\n{filename} Extracted column names:")
    print(list(existing_columns & set(variable_list)))
    
    # Print non-existent column names
    print(f"\n Column names in variable_list but not in {filename} :")
    print(list(variable_list_nonexisting))
    
    dfs.append(df_selected)

../GallupData2023/Gallup_World_Poll_Wave_1_5_032023.dta Extracted column names:
['WP3117', 'WP9048', 'WP69', 'WP132', 'WP43', 'WP103', 'WP83', 'WP156', 'WP94', 'WP112', 'WP1219', 'WP155', 'WP65', 'WP1220', 'WP98', 'WP88', 'WP4657', 'WP85', 'WP1223', 'COUNTRY_ISO3', 'WP2319', 'WP89', 'WP145', 'WP113', 'WP18', 'WP146', 'WP9050', 'WP40', 'WP119', 'WP129', 'WP117', 'WP141', 'WP150', 'WP16', 'WP60', 'INCOME_2', 'EMP_2010', 'WP86', 'WP151', 'INCOME_3', 'WP106', 'WP130', 'WP61', 'INCOME_1', 'WP27', 'INCOME_4', 'INCOME_7', 'WP31', 'WP144', 'WP10251', 'WP71', 'WP109', 'WP95', 'WP74', 'WP153', 'WP92', 'WP23', 'WP118', 'WP97', 'WP138', 'WP30', 'WP9042', 'wave', 'WP93', 'WP110', 'WP134', 'WP108', 'WP91', 'WP105', 'WP67', 'WP1230', 'INCOME_5', 'WP131', 'WP1233', 'WP63', 'WP70', 'WP68', 'WP137', 'WP111', 'WP139', 'WP10248']

 Column names in variable_list but not in ../GallupData2023/Gallup_World_Poll_Wave_1_5_032023.dta :
['WP13125', 'INCOME_6', 'WP96', 'WP16056', 'WP15862', 'WP17626', 'WP17625', 'WP19544', 'WP19472']

../GallupData2023/Gallup_World_Poll_Wave_6_10_032023.dta Extracted column names:
['WP3117', 'WP9048', 'WP69', 'WP132', 'WP43', 'WP103', 'WP83', 'WP156', 'WP94', 'WP112', 'WP1219', 'WP155', 'WP65', 'WP1220', 'WP98', 'WP88', 'WP4657', 'WP85', 'WP1223', 'WP17626', 'COUNTRY_ISO3', 'WP2319', 'WP89', 'WP145', 'WP113', 'WP18', 'WP146', 'WP9050', 'WP40', 'WP119', 'WP129', 'WP117', 'WP141', 'WP150', 'WP16', 'WP60', 'INCOME_2', 'EMP_2010', 'WP86', 'WP151', 'INCOME_3', 'WP106', 'WP130', 'WP61', 'INCOME_1', 'WP16056', 'WP27', 'INCOME_4', 'INCOME_7', 'WP31', 'WP144', 'WP10251', 'WP71', 'WP109', 'WP95', 'WP74', 'WP15862', 'WP153', 'WP92', 'WP23', 'WP118', 'WP97', 'WP138', 'WP30', 'WP9042', 'wave', 'WP93', 'WP13125', 'WP110', 'WP134', 'WP108', 'WP91', 'WP105', 'WP17625', 'WP67', 'WP1230', 'INCOME_5', 'WP131', 'WP1233', 'WP63', 'WP70', 'WP68', 'WP137', 'WP111', 'WP139', 'WP10248']

 Column names in variable_list but not in ../GallupData2023/Gallup_World_Poll_Wave_6_10_032023.dta :
['WP96', 'WP19472', 'WP19544', 'INCOME_6']

../GallupData2023/Gallup_World_Poll_Wave_11_17_032023.dta Extracted column names:
['WP3117', 'WP9048', 'WP69', 'WP132', 'WP43', 'WP103', 'WP19544', 'WP83', 'WP156', 'WP94', 'WP112', 'WP1219', 'WP155', 'WP65', 'WP1220', 'WP98', 'WP88', 'WP4657', 'WP85', 'WP1223', 'WP17626', 'COUNTRY_ISO3', 'WP19472', 'WP2319', 'WP89', 'WP145', 'WP113', 'WP18', 'WP146', 'WP9050', 'WP40', 'WP119', 'WP129', 'WP117', 'WP141', 'WP150', 'WP16', 'WP60', 'INCOME_2', 'EMP_2010', 'WP86', 'WP151', 'INCOME_3', 'WP106', 'WP130', 'WP61', 'INCOME_1', 'WP16056', 'WP27', 'INCOME_4', 'INCOME_7', 'WP31', 'WP144', 'WP10251', 'WP71', 'WP109', 'WP95', 'WP74', 'WP15862', 'WP153', 'WP92', 'WP23', 'WP118', 'WP97', 'WP138', 'WP30', 'WP9042', 'wave', 'WP93', 'WP13125', 'WP110', 'WP134', 'WP108', 'WP91', 'WP105', 'WP17625', 'WP67', 'WP1230', 'INCOME_5', 'WP131', 'WP1233', 'WP63', 'WP70', 'WP68', 'WP137', 'WP111', 'WP139', 'WP10248']

 Column names in variable_list but not in ../GallupData2023/Gallup_World_Poll_Wave_11_17_032023.dta :
['WP96', 'INCOME_6']

In [8]:
merged_df = pd.concat(dfs, ignore_index=True)  # Merge the processed DataFrames vertically and reset the index

In [9]:
#merged_df = merged_df.loc[:, merged_df.iloc[1:].notna().any()] # Remove all columns containing NaN (excluding column names)

In [10]:
merged_df.shape

(2594089, 90)

### Output Dateset

In [11]:
output_filename = os.path.join("Data", "GallupWB_WashedRawData17Wave_v1.parquet")

In [12]:
merged_df.to_parquet(output_filename)

### Double Check

In [13]:
merged_df_reloaded = pd.read_parquet(output_filename)

In [14]:
merged_df_reloaded.head()

,wave,COUNTRY_ISO3,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
for name in merged_df_reloaded.columns:
    print(name)

wave
COUNTRY_ISO3
INCOME_1
INCOME_2
INCOME_3
INCOME_4
INCOME_5
INCOME_6
INCOME_7
WP16
WP18
WP23
WP27
WP30
WP31
WP40
WP43
WP60
WP61
WP63
WP65
WP67
WP68
WP69
WP70
WP71
WP74
WP83
WP85
WP86
WP19472
WP88
WP89
WP91
WP92
WP93
WP94
WP95
WP96
WP97
WP98
WP10248
WP103
WP105
WP106
WP108
WP109
WP110
WP111
WP112
WP113
WP117
WP118
WP119
WP129
WP130
WP9050
WP131
WP132
WP134
WP137
WP138
WP139
WP141
WP144
WP10251
WP145
WP146
WP150
WP151
WP153
WP155
WP156
WP13125
WP1219
WP1220
WP1223
EMP_2010
WP1230
WP1233
WP2319
WP4657
WP9042
WP9048
WP17625
WP17626
WP16056
WP15862
WP19544
WP3117

In [16]:
merged_df_reloaded.shape

(2594089, 90)