# Data Washed by Mike Cover 64 Variables 1.911 M Rows: Dependent Variable: Cantril_ladder

In [1]:
%pwd

'/mnt/d/OneDrive - Kyushu University/ESG09_Article/Code'

In [2]:
%cd ..

/mnt/d/OneDrive - Kyushu University/ESG09_Article

/home/linux/anaconda3/envs/tf/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

## Import Package

In [3]:
import numpy as np
import os 
import pandas as pd

## Fine Wash

### Load Dataset

In [224]:
RawDataset_Filename = os.path.join("Data", "GallupWB_WashedRawData17Wave_v1.parquet")

In [225]:
RawDataset = pd.read_parquet(RawDataset_Filename)

In [226]:
RawDataset.shape

(2594089, 90)

In [227]:
nan_counts = RawDataset.isna().sum()
for line in zip(RawDataset.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_1', 420409)
('INCOME_2', 423416)
('INCOME_3', 420411)
('INCOME_4', 423418)
('INCOME_5', 419801)
('INCOME_6', 2594089)
('INCOME_7', 419841)
('WP16', 14604)
('WP18', 14603)
('WP23', 123903)
('WP27', 151900)
('WP30', 129145)
('WP31', 142727)
('WP40', 52441)
('WP43', 49598)
('WP60', 86371)
('WP61', 67376)
('WP63', 104399)
('WP65', 69390)
('WP67', 74033)
('WP68', 85721)
('WP69', 82693)
('WP70', 83895)
('WP71', 184749)
('WP74', 100720)
('WP83', 185474)
('WP85', 310161)
('WP86', 240808)
('WP19472', 1719188)
('WP88', 262622)
('WP89', 171021)
('WP91', 198859)
('WP92', 200973)
('WP93', 145248)
('WP94', 202990)
('WP95', 201667)
('WP96', 2594089)
('WP97', 238617)
('WP98', 231858)
('WP10248', 710990)
('WP103', 452880)
('WP105', 545368)
('WP106', 262574)
('WP108', 189759)
('WP109', 187253)
('WP110', 193819)
('WP111', 675056)
('WP112', 419460)
('WP113', 206175)
('WP117', 268482)
('WP118', 786324)
('WP119', 291689)
('WP129', 177618)
('WP130', 156114)
('WP9050', 731999)
('WP131', 408916)
('WP132', 218748)
('WP134', 162829)
('WP137', 503224)
('WP138', 392723)
('WP139', 426999)
('WP141', 240493)
('WP144', 461870)
('WP10251', 790018)
('WP145', 294340)
('WP146', 401409)
('WP150', 518606)
('WP151', 347999)
('WP153', 420278)
('WP155', 452531)
('WP156', 400767)
('WP13125', 1158474)
('WP1219', 22)
('WP1220', 3306)
('WP1223', 26119)
('EMP_2010', 433208)
('WP1230', 80157)
('WP1233', 303845)
('WP2319', 146446)
('WP4657', 230088)
('WP9042', 2467008)
('WP9048', 2469606)
('WP17625', 1287824)
('WP17626', 1412789)
('WP16056', 1478999)
('WP15862', 1880708)
('WP19544', 1824015)
('WP3117', 77184)

In [228]:
UseDataframe = RawDataset

In [229]:
variable_list = []

### wave

Strategies: ignore sub-wave, convert the wave into int

In [230]:
UseDataframe['wave'].value_counts().sort_index()

wave
1.0     129972
2.0     104831
3.0     120443
3.1       3568
3.2       4141
3.3       2592
3.4       1758
4.0      99664
4.1      18074
4.2      19164
4.3       1147
5.0     112702
5.1      18141
5.2      20013
6.0     130614
6.1      23134
6.2      26258
6.3       7224
6.4       7157
6.5       1077
7.1     151720
7.2      49465
7.3      12879
7.4      16019
8.1     138673
9.1     154205
9.2      36143
10.1    148232
11.1    148724
11.2      2000
12.1    154166
12.9      1000
13.1    118922
13.2     33952
14.1    176253
15.1    121207
15.5      6350
15.9      1917
16.1    126902
17.1    143686
Name: count, dtype: int64

In [231]:
UseDataframe['wave'] = UseDataframe['wave'].astype(int)

In [232]:
UseDataframe['wave'].value_counts().sort_index()

wave
1     129972
2     104831
3     132502
4     138049
5     150856
6     195464
7     230083
8     138673
9     190348
10    148232
11    150724
12    155166
13    152874
14    176253
15    129474
16    126902
17    143686
Name: count, dtype: int64

In [233]:
variable_list.append('wave')

### INCOME_2

Use the mean value of a certain country and a specific wave to replace nan             
The first three wave do not have the income information

In [234]:
group_means = UseDataframe.groupby(['wave', 'COUNTRY_ISO3'])['INCOME_2'].transform('mean')

In [235]:
group_means

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
               ...
2594084    60673.641618
2594085    60673.641618
2594086    60673.641618
2594087    60673.641618
2594088    60673.641618
Name: INCOME_2, Length: 2594089, dtype: float64

In [236]:
UseDataframe[['wave', 'COUNTRY_ISO3', 'INCOME_2']].head(20)

    wave COUNTRY_ISO3  INCOME_2
0      1          USA       NaN
1      1          USA       NaN
2      1          USA       NaN
3      1          USA       NaN
4      1          USA       NaN
5      1          USA       NaN
6      1          USA       NaN
7      1          USA       NaN
8      1          USA       NaN
9      1          USA       NaN
10     1          USA       NaN
11     1          USA       NaN
12     1          USA       NaN
13     1          USA       NaN
14     1          USA       NaN
15     1          USA       NaN
16     1          USA       NaN
17     1          USA       NaN
18     1          USA       NaN
19     1          USA       NaN

In [237]:
UseDataframe[UseDataframe['wave']==1]['INCOME_2'].isna().sum()

129972

In [238]:
UseDataframe[UseDataframe['wave']==2]['INCOME_2'].isna().sum()

104831

In [239]:
UseDataframe[UseDataframe['wave']==3]['INCOME_2'].isna().sum()

132502

In [240]:
UseDataframe[UseDataframe['wave']==4]['INCOME_2'].isna().sum()

6741

In [241]:
UseDataframe = UseDataframe[UseDataframe['wave']>3]

In [242]:
UseDataframe.shape

(2226784, 90)

In [243]:
group_means = UseDataframe.groupby(['wave', 'COUNTRY_ISO3'])['INCOME_2'].transform('mean')

In [244]:
UseDataframe['INCOME_2'].fillna(group_means, inplace=True)

/tmp/ipykernel_12939/2939387626.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  UseDataframe['INCOME_2'].fillna(group_means, inplace=True)
/tmp/ipykernel_12939/2939387626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UseDataframe['INCOME_2'].fillna(group_means, inplace=True)

In [245]:
UseDataframe['INCOME_2'].isna().sum()

54487

In [246]:
UseDataframe['INCOME_2'].head()

367305    1.351047e+01
367306    2.296780e+06
367307    3.512722e+05
367308    5.404188e+04
367309    0.000000e+00
Name: INCOME_2, dtype: float64

In [247]:
UseDataframe[UseDataframe['INCOME_2'].isna()][['wave', 'COUNTRY_ISO3']].drop_duplicates()

         wave COUNTRY_ISO3
380478      4          HKG
407542      4          SWE
460094      4          TKM
473859      4          MRT
477950      4          DJI
570450      5          SLE
587497      5          DJI
596017      5          LBR
602028      5          MNG
624158      5          MRT
637208      5          MAR
674298      6          HKG
707129      6          AGO
710129      6          MOZ
728138      6          SLE
761234      6          LBR
782273      6          TTO
787829      6          MAR
795855      6          MRT
799865      6          DJI
882017      7          HKG
903182      7          GHA
919214      7          AGO
923214      7          MRT
1141348     8          MRT
1159404     8          SLE
1194265     8          LBR
1211371     8          TTO
1283344     9          MRT
1301388     9          SLE
1338998     9          LBR
1472316    10          MRT
1491350    10          SLE
1526549    10          LBR
1619517    11          MRT
1773835    12          MRT
1885554    13          VEN
1911225    13          MRT
1913225    13          NER
2061411    14          VEN
2119615    14          ZWE
2227886    15          VEN
2264125    15          ZWE
2358159    16          VEN
2396240    16          SLE
2397240    16          ZWE
2453422    17          LBN
2474481    17          IRN
2525566    17          ZWE
2556989    17          JAM
2591089    17          YEM

In [248]:
UseDataframe.dropna(subset=['INCOME_2'], inplace=True)

/tmp/ipykernel_12939/3867857424.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UseDataframe.dropna(subset=['INCOME_2'], inplace=True)

In [249]:
UseDataframe['INCOME_2'].isna().sum()

0

In [250]:
UseDataframe.shape

(2172297, 90)

In [251]:
variable_list.append('INCOME_2')

### WP16 Cantril_ladder

Strategy: drop nan and 98 99

In [252]:
UseDataframe['WP16'].value_counts().sort_index()

WP16
0.0      73578
1.0      62604
2.0      97966
3.0     172163
4.0     209659
5.0     490301
6.0     260946
7.0     291434
8.0     264732
9.0      94978
10.0    123472
98.0     22772
99.0      2314
Name: count, dtype: int64

In [253]:
UseDataframe['Cantril_ladder'] = UseDataframe['WP16']

/tmp/ipykernel_12939/1026486328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  UseDataframe['Cantril_ladder'] = UseDataframe['WP16']

In [254]:
UseDataframe = UseDataframe[UseDataframe['Cantril_ladder'] < 11]

In [255]:
UseDataframe.shape

(2141833, 91)

In [256]:
UseDataframe['Cantril_ladder'].isna().sum()

0

In [257]:
variable_list.append('Cantril_ladder')

### WP23 Health_disable

Strategy: drop nan

In [258]:
UseDataframe['WP23'].value_counts().sort_index()

WP23
1.0     498053
2.0    1527750
3.0       7607
4.0       1904
Name: count, dtype: int64

In [259]:
UseDataframe['Health_disable'] = UseDataframe['WP23']

In [260]:
UseDataframe = UseDataframe[UseDataframe['Health_disable'] < 3]

In [261]:
UseDataframe.shape

(2025803, 92)

In [262]:
UseDataframe['WP23'].isna().sum()

0

In [263]:
UseDataframe['WP23'].value_counts().sort_index()

WP23
1.0     498053
2.0    1527750
Name: count, dtype: int64

In [264]:
UseDataframe['WP23'] = np.abs(UseDataframe['WP23']-2)

In [265]:
UseDataframe['WP23'].value_counts().sort_index()

WP23
0.0    1527750
1.0     498053
Name: count, dtype: int64

In [266]:
variable_list.append('Health_disable')

### WP27 Relative_have

Strategy: Yes is yes 1 is 1,

In [268]:
UseDataframe['WP27'].value_counts().sort_index()

WP27
1.0    1584543
2.0     370031
3.0      17400
4.0       1674
Name: count, dtype: int64

In [269]:
UseDataframe['WP27'].isna().sum()

52155

In [270]:
UseDataframe['WP27'] = UseDataframe['WP27'].fillna(2)

In [271]:
UseDataframe['WP27'].isna().sum()

0

In [272]:
UseDataframe.loc[UseDataframe['WP27'] > 1, 'WP27'] = 0

In [273]:
UseDataframe['WP27'].value_counts().sort_index()

WP27
0.0     441260
1.0    1584543
Name: count, dtype: int64

In [274]:
UseDataframe['Relative_have'] = UseDataframe['WP27']

In [275]:
variable_list.append('Relative_have')

### WP31 Living_standard_change

Better is better (1), bad is bad (-1)

In [276]:
UseDataframe['Living_standard_change'] = UseDataframe['WP31']

In [277]:
UseDataframe['Living_standard_change'].isna().sum()

91707

In [278]:
UseDataframe['Living_standard_change'] = UseDataframe['Living_standard_change'].fillna(2)

In [284]:
UseDataframe['Living_standard_change'].isna().sum()

0

In [279]:
UseDataframe['Living_standard_change'].value_counts().sort_index()

Living_standard_change
1.0    876140
2.0    594264
3.0    529747
4.0     23308
5.0      2344
Name: count, dtype: int64

In [280]:
UseDataframe.loc[UseDataframe['Living_standard_change'] > 3, 'Living_standard_change'] = 2

In [281]:
UseDataframe['Living_standard_change'] = -(UseDataframe['Living_standard_change'] - 2)

In [282]:
UseDataframe['Living_standard_change'].value_counts().sort_index()

Living_standard_change
-1.0    529747
-0.0    619916
 1.0    876140
Name: count, dtype: int64

In [283]:
variable_list.append('Living_standard_change')

In [285]:
UseDataframe.shape

(2025803, 94)

### WP40 WP43 Enough_food Enough_shelter

yes is yes 1

In [286]:
name_list = ['Enough_food', 'Enough_shelter']

In [287]:
UseDataframe['Enough_food'] = UseDataframe['WP40']
UseDataframe['Enough_shelter'] = UseDataframe['WP43']

In [288]:
UseDataframe['Enough_food'].isna().sum()

11253

In [289]:
UseDataframe['Enough_shelter'].isna().sum()

9195

In [290]:
UseDataframe['Enough_food'] = UseDataframe['Enough_food'].fillna(2)
UseDataframe['Enough_shelter'] = UseDataframe['Enough_shelter'].fillna(2)

In [291]:
for name in name_list:
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

Enough_food
0.0    1378238
1.0     647565
Name: count, dtype: int64
Enough_shelter
0.0    1533964
1.0     491839
Name: count, dtype: int64

In [292]:
variable_list = variable_list + name_list

### WP60, WP61, WP63, WP65 -> Well_rested, Respected, Smile, Interesting_thing

yes is yes 1

In [293]:
name_list = ["Well_rested", "Respected", "Smile", "Interesting_thing"]

In [294]:
code_list = ["WP60", "WP61", "WP63", "WP65"]

In [295]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP60
1.0    1366481
2.0     638632
3.0      11186
4.0       1775
Name: count, dtype: int64
Well_rested
0.0     659322
1.0    1366481
Name: count, dtype: int64
WP61
1.0    1750163
2.0     232679
3.0      30986
4.0       3246
Name: count, dtype: int64
Respected
0.0     275640
1.0    1750163
Name: count, dtype: int64
WP63
1.0    1422632
2.0     546695
3.0      30055
4.0       2815
Name: count, dtype: int64
Smile
0.0     603171
1.0    1422632
Name: count, dtype: int64
WP65
1.0    1053008
2.0     934731
3.0      27736
4.0       2599
Name: count, dtype: int64
Interesting_thing
0.0     972795
1.0    1053008
Name: count, dtype: int64

In [296]:
variable_list = variable_list + name_list

In [297]:
variable_list

['wave',
 'INCOME_2',
 'Cantril_ladder',
 'Health_disable',
 'Relative_have',
 'Living_standard_change',
 'Enough_food',
 'Enough_shelter',
 'Well_rested',
 'Respected',
 'Smile',
 'Interesting_thing']

### WP67, WP68, WP69, WP70, WP71, WP74 -> Enjoyment, Physical_pain, Worry, Sadness, Stress, Anger

In [298]:
name_list = ["Enjoyment", "Physical_pain", "Worry", "Sadness", "Stress", "Anger"]

In [299]:
code_list = ["WP67", "WP68", "WP69", "WP70", "WP71", "WP74"]

In [300]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP67
1.0    1395182
2.0     591071
3.0      22200
4.0       2746
Name: count, dtype: int64
Enjoyment
0.0     630621
1.0    1395182
Name: count, dtype: int64
WP68
1.0     617655
2.0    1392067
3.0       6922
4.0       1589
Name: count, dtype: int64
Physical_pain
0.0    1408148
1.0     617655
Name: count, dtype: int64
WP69
1.0     764019
2.0    1243966
3.0      10432
4.0       1843
Name: count, dtype: int64
Worry
0.0    1261784
1.0     764019
Name: count, dtype: int64
WP70
1.0     470856
2.0    1535494
3.0      11664
4.0       2245
Name: count, dtype: int64
Sadness
0.0    1554947
1.0     470856
Name: count, dtype: int64
WP71
1.0     663219
2.0    1323312
3.0      14577
4.0       2213
Name: count, dtype: int64
Stress
0.0    1362584
1.0     663219
Name: count, dtype: int64
WP74
1.0     398760
2.0    1593233
3.0      11021
4.0       2339
Name: count, dtype: int64
Anger
0.0    1627043
1.0     398760
Name: count, dtype: int64

In [301]:
variable_list = variable_list + name_list

In [302]:
variable_list

['wave',
 'INCOME_2',
 'Cantril_ladder',
 'Health_disable',
 'Relative_have',
 'Living_standard_change',
 'Enough_food',
 'Enough_shelter',
 'Well_rested',
 'Respected',
 'Smile',
 'Interesting_thing',
 'Enjoyment',
 'Physical_pain',
 'Worry',
 'Sadness',
 'Stress',
 'Anger']

### WP83 -> City_satisficied

In [303]:
code = 'WP83'

In [304]:
name = 'City_satisficied'

In [305]:
print(UseDataframe[code].value_counts().sort_index())
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(2)
UseDataframe.loc[UseDataframe[name] > 1, name] = 0
print(UseDataframe[name].value_counts().sort_index())

WP83
1.0    1535104
2.0     409090
3.0      19901
4.0       2273
Name: count, dtype: int64
City_satisficied
0.0     490699
1.0    1535104
Name: count, dtype: int64

In [306]:
variable_list.append(name)

### WP19472

In [307]:
code = 'WP19472'

In [308]:
print(UseDataframe[code].value_counts().sort_index())

WP19472
1.0    166101
2.0    351457
3.0    254275
4.0     56604
8.0     11860
9.0       539
Name: count, dtype: int64

In [309]:
UseDataframe[code].isna().sum()

1184967

**NOT USE**

### WP88 -> Economic_change

In [310]:
code = 'WP88'
name = 'Economic_change'

In [311]:
UseDataframe[name] = UseDataframe[code]

In [312]:
UseDataframe[name].isna().sum()

105933

In [313]:
UseDataframe[name] = UseDataframe[name].fillna(2)

In [314]:
UseDataframe[name].value_counts().sort_index()

Economic_change
1.0    780185
2.0    505309
3.0    672649
4.0     65339
5.0      2321
Name: count, dtype: int64

In [315]:
UseDataframe.loc[UseDataframe[name] > 3, name] = 2

In [316]:
UseDataframe[name] = -(UseDataframe[name] - 2)

In [317]:
UseDataframe[name].value_counts().sort_index()

Economic_change
-1.0    672649
-0.0    572969
 1.0    780185
Name: count, dtype: int64

In [318]:
variable_list.append(name)

### WP89 -> Goodtime_job

In [322]:
code = 'WP89'
name = 'Goodtime_job'

In [323]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(2)
UseDataframe.loc[UseDataframe[name] > 1, name] = 0
print(UseDataframe[name].value_counts().sort_index())

WP89
1.0     671825
2.0    1129068
3.0     154631
4.0       6020
Name: count, dtype: int64
64259
Goodtime_job
0.0    1353978
1.0     671825
Name: count, dtype: int64

In [324]:
variable_list.append(name)

### WP91, WP92, WP93, WP94, WP95, WP97. WP98, WP10248 -> Sat_pubtran, Sat_road, Sat_edu, Sat_qualityair, Sat_qualitywater, Sat_healthcare, Sat_affhouse, Sat_oppofriend

In [325]:
name_list = ['Sat_pubtran', 'Sat_road', 'Sat_edu', 'Sat_qualityair', 'Sat_qualitywater', 'Sat_healthcare', 'Sat_affhouse', 'Sat_oppofriend']

In [326]:
code_list = ['WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248']

In [328]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP91
1.0    1123099
2.0     708625
3.0      92478
4.0       4195
Name: count, dtype: int64
97406
Sat_pubtran
0.0     902704
1.0    1123099
Name: count, dtype: int64
WP92
1.0    1048648
2.0     842361
3.0      32969
4.0       1897
Name: count, dtype: int64
99928
Sat_road
0.0     977155
1.0    1048648
Name: count, dtype: int64
WP93
1.0    1211974
2.0     609347
3.0     132193
4.0       3722
Name: count, dtype: int64
68567
Sat_edu
0.0     813829
1.0    1211974
Name: count, dtype: int64
WP94
1.0    1427096
2.0     466253
3.0      25754
4.0       1717
Name: count, dtype: int64
104983
Sat_qualityair
0.0     598707
1.0    1427096
Name: count, dtype: int64
WP95
1.0    1336211
2.0     568937
3.0      18464
4.0       1369
Name: count, dtype: int64
100822
Sat_qualitywater
0.0     689592
1.0    1336211
Name: count, dtype: int64
WP97
1.0    1089224
2.0     774310
3.0      48873
4.0       2512
Name: count, dtype: int64
110884
Sat_healthcare
0.0     936579
1.0    1089224
Name: count, dtype: int64
WP98
1.0    927382
2.0    868143
3.0    127551
4.0      4359
Name: count, dtype: int64
98368
Sat_affhouse
0.0    1098421
1.0     927382
Name: count, dtype: int64
WP10248
1.0    1357987
2.0     367688
3.0      58050
4.0       4088
Name: count, dtype: int64
237990
Sat_oppofriend
0.0     667816
1.0    1357987
Name: count, dtype: int64

In [329]:
variable_list = variable_list + name_list

### WP103, WP105, WP106 -> Good_minorities, Good_gayles, Good_immigrants

In [330]:
name_list = ['Good_minorities', 'Good_gayles', 'Good_immigrants']

In [331]:
code_list = ['WP103', 'WP105', 'WP106']

In [332]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP103
1.0    1144291
2.0     438206
3.0     150000
4.0       7563
Name: count, dtype: int64
285743
Good_minorities
0.0     881512
1.0    1144291
Name: count, dtype: int64
WP105
1.0    569865
2.0    839730
3.0    249336
4.0     21333
Name: count, dtype: int64
345539
Good_gayles
0.0    1455938
1.0     569865
Name: count, dtype: int64
WP106
1.0    1138296
2.0     601615
3.0     174630
4.0       8890
Name: count, dtype: int64
102372
Good_immigrants
0.0     887507
1.0    1138296
Name: count, dtype: int64

In [333]:
variable_list = variable_list + name_list

### WP108, WP109, WP110, WP111 -> Donated, Volunteer, Help_stranger, Voice_official

In [334]:
name_list = ['Donated', 'Volunteer', 'Help_stranger', 'Voice_official']

In [335]:
code_list = ['WP108', 'WP109', 'WP110', 'WP111']

In [336]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP108
1.0     609797
2.0    1330242
3.0       8764
4.0       4203
Name: count, dtype: int64
72797
Donated
0.0    1416006
1.0     609797
Name: count, dtype: int64
WP109
1.0     403126
2.0    1536953
3.0       9431
4.0       2496
Name: count, dtype: int64
73797
Volunteer
0.0    1622677
1.0     403126
Name: count, dtype: int64
WP110
1.0    990339
2.0    943774
3.0     13619
4.0      4280
Name: count, dtype: int64
73791
Help_stranger
0.0    1035464
1.0     990339
Name: count, dtype: int64
WP111
1.0     315620
2.0    1207209
3.0      13283
4.0       2867
Name: count, dtype: int64
486824
Voice_official
0.0    1710183
1.0     315620
Name: count, dtype: int64

In [337]:
variable_list = variable_list + name_list

### WP112, WP113, WP117, WP118 -> Local_police, Safety_walk, Stolen, Assualted

In [338]:
name_list = ['Local_police', 'Safety_walk', 'Stolen', 'Assualted']

In [339]:
code_list = ['WP112', 'WP113', 'WP117', 'WP118']

In [340]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP112
1.0    1114381
2.0     540117
3.0      72628
4.0       5808
Name: count, dtype: int64
292869
Local_police
0.0     911422
1.0    1114381
Name: count, dtype: int64
WP113
1.0    1188686
2.0     677541
3.0      43623
4.0       3401
Name: count, dtype: int64
112552
Safety_walk
0.0     837117
1.0    1188686
Name: count, dtype: int64
WP117
1.0     278385
2.0    1568014
3.0       8061
4.0       1580
Name: count, dtype: int64
169763
Stolen
0.0    1747418
1.0     278385
Name: count, dtype: int64
WP118
1.0      94052
2.0    1284581
3.0       3789
4.0        996
Name: count, dtype: int64
642385
Assualted
0.0    1931751
1.0      94052
Name: count, dtype: int64

In [341]:
variable_list = variable_list + name_list

### WP119 -> Religion_importance

In [342]:
code = 'WP119'
name = 'Religion_importance'

In [343]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(2)
UseDataframe.loc[UseDataframe[name] > 1, name] = 0
print(UseDataframe[name].value_counts().sort_index())

WP119
1.0    1278325
2.0     531738
3.0      19773
4.0       5244
Name: count, dtype: int64
190723
Religion_importance
0.0     747478
1.0    1278325
Name: count, dtype: int64

In [344]:
variable_list.append(name)

### WP129, WP130, WP9050 -> Children_respected, Children_learn, Women_respected

In [345]:
name_list = ['Children_respected', 'Children_learn', 'Women_respected']

In [346]:
code_list = ['WP129', 'WP130', 'WP9050']

In [347]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP129
1.0    1283260
2.0     577462
3.0      77845
4.0       3765
Name: count, dtype: int64
83471
Children_respected
0.0     742543
1.0    1283260
Name: count, dtype: int64
WP130
1.0    1345504
2.0     543886
3.0      54267
4.0       2695
Name: count, dtype: int64
79451
Children_learn
0.0     680299
1.0    1345504
Name: count, dtype: int64
WP9050
1.0    1129553
2.0     546922
3.0      57495
4.0       3635
Name: count, dtype: int64
288198
Women_respected
0.0     896250
1.0    1129553
Name: count, dtype: int64

In [348]:
variable_list = variable_list + name_list

### WP131, WP132, WP134 -> Sat_dealpoor, Sat_perserveenv, Freedom_chooselife

In [349]:
name_list = ['Sat_dealpoor', 'Sat_perserveenv', 'Freedom_chooselife']

In [350]:
code_list = ['WP131', 'WP132', 'WP134']

In [351]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP131
1.0    713088
2.0    953947
3.0     79269
4.0      3300
Name: count, dtype: int64
276199
Sat_dealpoor
0.0    1312715
1.0     713088
Name: count, dtype: int64
WP132
1.0    990616
2.0    864190
3.0     87413
4.0      3014
Name: count, dtype: int64
80570
Sat_perserveenv
0.0    1035187
1.0     990616
Name: count, dtype: int64
WP134
1.0    1444477
2.0     450826
3.0      52416
4.0       4749
Name: count, dtype: int64
73335
Freedom_chooselife
0.0     581326
1.0    1444477
Name: count, dtype: int64

In [352]:
variable_list = variable_list + name_list

### WP137, WP138, WP139, WP141, WP144 -> Conf_military, Conf_judicial, Conf_government, Conf_financial, Conf_honestyelections

In [353]:
name_list = ['Conf_military', 'Conf_judicial', 'Conf_government', 'Conf_financial', 'Conf_honestyelections']

In [354]:
code_list = ['WP137', 'WP138', 'WP139', 'WP141', 'WP144']

In [355]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP137
1.0    1166815
2.0     415884
3.0      85868
4.0       5458
Name: count, dtype: int64
351778
Conf_military
0.0     858988
1.0    1166815
Name: count, dtype: int64
WP138
1.0    858321
2.0    767358
3.0    123267
4.0      6518
Name: count, dtype: int64
270339
Conf_judicial
0.0    1167482
1.0     858321
Name: count, dtype: int64
WP139
1.0    837335
2.0    772740
3.0     86705
4.0     10347
Name: count, dtype: int64
318676
Conf_government
0.0    1188468
1.0     837335
Name: count, dtype: int64
WP141
1.0    1057932
2.0     666700
3.0     126725
4.0       5686
Name: count, dtype: int64
168760
Conf_financial
0.0     967871
1.0    1057932
Name: count, dtype: int64
WP144
1.0    799909
2.0    767507
3.0    113073
4.0      9856
Name: count, dtype: int64
335458
Conf_honestyelections
0.0    1225894
1.0     799909
Name: count, dtype: int64

In [356]:
variable_list = variable_list + name_list

### WP10251, WP145, WP146, WP150 -> Freedom_media, Corruption_business, Corruption_government, Performance_leadership

In [357]:
name_list = ['Freedom_media', 'Corruption_business', 'Corruption_government', 'Performance_leadership']

In [358]:
code_list = ['WP10251', 'WP145', 'WP146', 'WP150']

In [359]:
for code, name in zip(code_list, name_list):
    print(UseDataframe[code].value_counts().sort_index())
    print(UseDataframe[code].isna().sum())
    UseDataframe[name] = UseDataframe[code]
    UseDataframe[name] = UseDataframe[name].fillna(2)
    UseDataframe.loc[UseDataframe[name] > 1, name] = 0
    print(UseDataframe[name].value_counts().sort_index())

WP10251
1.0    1073936
2.0     483527
3.0     130045
4.0       4655
Name: count, dtype: int64
333640
Freedom_media
0.0     951867
1.0    1073936
Name: count, dtype: int64
WP145
1.0    1222287
2.0     413813
3.0     193884
4.0       8326
Name: count, dtype: int64
187493
Corruption_business
0.0     803516
1.0    1222287
Name: count, dtype: int64
WP146
1.0    1162669
2.0     393904
3.0     180890
4.0      11613
Name: count, dtype: int64
276727
Corruption_government
0.0     863134
1.0    1162669
Name: count, dtype: int64
WP150
1.0    811264
2.0    769698
3.0    115949
4.0     19075
Name: count, dtype: int64
309817
Performance_leadership
0.0    1214539
1.0     811264
Name: count, dtype: int64

In [360]:
variable_list = variable_list + name_list

### (Change a lot) WP1219 -> Gender_female

drop all value except 1 and 2

In [361]:
code = 'WP1219'
name = 'Gender_female'

In [362]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP1219
1.0     947439
2.0    1078362
Name: count, dtype: int64
2

In [363]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(5)

In [364]:
UseDataframe.shape

(2025803, 145)

In [365]:
UseDataframe = UseDataframe[UseDataframe[name] < 3]

In [368]:
UseDataframe[name] = UseDataframe[name] - 1

In [369]:
print(UseDataframe[code].isna().sum())

0

In [366]:
UseDataframe.shape

(2025801, 145)

In [367]:
variable_list.append(name)

### WP1220 -> Age

In [370]:
code = 'WP1220'
name = 'Age'

In [371]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP1220
15.0     27936
16.0     32944
17.0     34848
17.5         1
18.0     45749
         ...
96.0       101
97.0        71
98.0       120
99.0       578
100.0     6419
Name: count, Length: 87, dtype: int64
190

In [372]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(100)

In [373]:
UseDataframe.shape

(2025801, 146)

In [374]:
UseDataframe = UseDataframe[UseDataframe[name] < 98]

In [375]:
UseDataframe.shape

(2019192, 146)

In [376]:
variable_list.append(name)

### WP1223 -> Marital_status

drop 6 and 7

In [377]:
code = 'WP1223'
name = 'Marital_status'

In [378]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP1223
1.0     587135
2.0    1045819
3.0      45886
4.0      78540
5.0     142082
6.0       4442
7.0       4009
8.0     106833
Name: count, dtype: int64
4446

In [379]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(6)

In [380]:
UseDataframe.shape

(2019192, 147)

In [381]:
UseDataframe = UseDataframe[UseDataframe[name] != 6]
UseDataframe = UseDataframe[UseDataframe[name] != 7]

In [382]:
UseDataframe.shape

(2006295, 147)

In [383]:
variable_list.append(name)

### EMP_2010 -> Employment

drop na

In [384]:
code = 'EMP_2010'
name = 'Employment'

In [385]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

EMP_2010
1.0    542937
2.0    267966
3.0    143057
4.0    126215
5.0    151608
6.0    738658
Name: count, dtype: int64
35854

In [386]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(10)

In [387]:
UseDataframe.shape

(2006295, 148)

In [388]:
UseDataframe = UseDataframe[UseDataframe[name] != 10]

In [389]:
UseDataframe.shape

(1970441, 148)

In [390]:
variable_list.append(name)

### WP1230 -> Children_under15

drop na

In [391]:
code = 'WP1230'
name = 'Children_under15'

In [392]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP1230
0.0     944275
1.0     353048
2.0     316083
3.0     162343
4.0      82111
5.0      42740
6.0      22909
7.0      12163
8.0       7474
9.0       3752
10.0      3708
11.0      1295
12.0      1532
13.0       715
14.0       496
15.0       945
16.0       263
17.0       218
18.0       143
19.0        67
20.0       383
21.0        65
22.0        59
23.0        32
24.0        25
25.0        84
26.0        16
27.0        12
28.0         9
29.0         4
30.0        52
31.0         3
32.0         6
33.0         3
34.0         3
35.0        10
36.0         4
37.0         2
38.0         3
39.0         1
40.0         4
41.0         1
42.0         1
44.0         1
45.0         1
47.0         3
50.0         2
51.0         1
52.0         3
55.0         2
59.0         1
62.0         1
90.0         1
97.0        70
98.0      2345
99.0      3940
Name: count, dtype: int64
7008

In [393]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(100)

In [394]:
UseDataframe.shape

(1970441, 149)

In [395]:
UseDataframe = UseDataframe[UseDataframe[name] < 100]

In [396]:
UseDataframe.loc[UseDataframe[name] > 0, name] = 1

In [397]:
UseDataframe.shape

(1963433, 149)

In [398]:
variable_list.append(name)

### WP2319 -> Feeling_income

drop na

In [399]:
code = 'WP2319'
name = 'Feeling_income'

In [400]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP2319
1.0    399389
2.0    781142
3.0    449962
4.0    283466
5.0     17576
6.0     12686
Name: count, dtype: int64
19212

In [401]:
UseDataframe[name] = UseDataframe[code]
UseDataframe[name] = UseDataframe[name].fillna(5)

In [402]:
UseDataframe.shape

(1963433, 150)

In [403]:
UseDataframe = UseDataframe[UseDataframe[name] < 5]

In [404]:
UseDataframe.shape

(1913959, 150)

In [405]:
variable_list.append(name)

### WP17625

drop na

In [406]:
code = 'WP17625'
name = 'Landline_telephone'

In [407]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP17625
1.0    375022
2.0    809385
3.0      1108
4.0       929
Name: count, dtype: int64
727515

In [408]:
code = 'WP17626'
name = 'Mobile_telephone'

In [409]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP17626
1.0    957018
2.0    142449
3.0       418
4.0       778
Name: count, dtype: int64
813296

### WP16056

drop na

In [410]:
code = 'WP16056'
name = 'Internet_access'

In [411]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP16056
1.0    676486
2.0    362050
3.0      3600
4.0       575
Name: count, dtype: int64
871248

### WP19544

drop na

In [412]:
code = 'WP19544'
name = 'Mobile_internetaccess'

In [413]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

WP19544
1.0    547212
2.0    173367
3.0      4563
4.0       303
Name: count, dtype: int64
1188514

### INCOME_5

drop na

In [414]:
code = 'INCOME_5'
name = 'Income_level'

In [415]:
print(UseDataframe[code].value_counts().sort_index())
print(UseDataframe[code].isna().sum())

INCOME_5
1.0    304138
2.0    336186
3.0    368328
4.0    409075
5.0    493485
Name: count, dtype: int64
2747

In [416]:
UseDataframe.shape

(1913959, 150)

In [417]:
UseDataframe = UseDataframe.dropna(subset=['INCOME_5'])

In [418]:
UseDataframe.shape

(1911212, 150)

In [420]:
UseDataframe[name] = UseDataframe[code]

In [419]:
variable_list.append(name)

### COUNTRY_ISO3

In [421]:
name = 'COUNTRY_ISO3'

In [422]:
variable_list.append(name)

### Save the Washed Dataset

In [423]:
variable_list

['wave',
 'INCOME_2',
 'Cantril_ladder',
 'Health_disable',
 'Relative_have',
 'Living_standard_change',
 'Enough_food',
 'Enough_shelter',
 'Well_rested',
 'Respected',
 'Smile',
 'Interesting_thing',
 'Enjoyment',
 'Physical_pain',
 'Worry',
 'Sadness',
 'Stress',
 'Anger',
 'City_satisficied',
 'Economic_change',
 'Goodtime_job',
 'Sat_pubtran',
 'Sat_road',
 'Sat_edu',
 'Sat_qualityair',
 'Sat_qualitywater',
 'Sat_healthcare',
 'Sat_affhouse',
 'Sat_oppofriend',
 'Good_minorities',
 'Good_gayles',
 'Good_immigrants',
 'Donated',
 'Volunteer',
 'Help_stranger',
 'Voice_official',
 'Local_police',
 'Safety_walk',
 'Stolen',
 'Assualted',
 'Religion_importance',
 'Children_respected',
 'Children_learn',
 'Women_respected',
 'Sat_dealpoor',
 'Sat_perserveenv',
 'Freedom_chooselife',
 'Conf_military',
 'Conf_judicial',
 'Conf_government',
 'Conf_financial',
 'Conf_honestyelections',
 'Freedom_media',
 'Corruption_business',
 'Corruption_government',
 'Performance_leadership',
 'Gender_female',
 'Age',
 'Marital_status',
 'Employment',
 'Children_under15',
 'Feeling_income',
 'Income_level',
 'COUNTRY_ISO3']

In [424]:
len(variable_list)

64

In [425]:
MlWahsedDataset = UseDataframe[variable_list]

In [426]:
MlWahsedDataset.shape

(1911212, 64)

In [427]:
MlWahsedDataset.isna().any().any()

False

In [428]:
MlWahsedDataset['wave'].value_counts().sort_index()

wave
4      90761
5     114922
6     164003
7     171355
8     128518
9     139051
10    136842
11    139669
12    146317
13    143038
14    164360
15    121398
16    116399
17    134579
Name: count, dtype: int64

In [429]:
MlWahsedDataset['COUNTRY_ISO3'].value_counts().sort_index()

COUNTRY_ISO3
AFG    13645
AGO     1811
ALB    12803
ARE    18363
ARG    13714
       ...
XSR     4976
YEM    11935
ZAF    13723
ZMB    12449
ZWE     8857
Name: count, Length: 164, dtype: int64

In [430]:
MlWahsedDataset.to_parquet(os.path.join('Data', 'GallupWB_Ml64var1911k14wave_v1.parquet'))