# Wash Data 12 to 17 wave for Zhang     
This code was created for Zhang's research, with the purpose of filtering the data needed for the research from the raw washed data.

In [1]:
%pwd

'/mnt/f/ESG09_Project/Code'

In [2]:
cd ..

/mnt/f/ESG09_Project

/home/zhang/miniconda3/envs/tf/lib/python3.9/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

## Import Package

In [3]:
import numpy as np
import os
import pandas as pd

## Wash Dateset

### Load dataset

In [4]:
filename = "Data/GallupWB_WashedRawData17Wave_v1.parquet"

### Check Data

In [5]:
df = pd.read_parquet(filename)

In [6]:
df.shape

(2594089, 90)

In [7]:
df.head()

,wave,COUNTRY_ISO3,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
0,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
variable_list = []

### Washing wave

In [9]:
df['wave'].value_counts().sort_index()

wave
1.0     129972
2.0     104831
3.0     120443
3.1       3568
3.2       4141
3.3       2592
3.4       1758
4.0      99664
4.1      18074
4.2      19164
4.3       1147
5.0     112702
5.1      18141
5.2      20013
6.0     130614
6.1      23134
6.2      26258
6.3       7224
6.4       7157
6.5       1077
7.1     151720
7.2      49465
7.3      12879
7.4      16019
8.1     138673
9.1     154205
9.2      36143
10.1    148232
11.1    148724
11.2      2000
12.1    154166
12.9      1000
13.1    118922
13.2     33952
14.1    176253
15.1    121207
15.5      6350
15.9      1917
16.1    126902
17.1    143686
Name: count, dtype: int64

In [10]:
df['wave'] = df['wave'].astype(int)

In [11]:
df['wave'].value_counts().sort_index()

wave
1     129972
2     104831
3     132502
4     138049
5     150856
6     195464
7     230083
8     138673
9     190348
10    148232
11    150724
12    155166
13    152874
14    176253
15    129474
16    126902
17    143686
Name: count, dtype: int64

In [12]:
df = df[df['wave'].isin([12, 13, 14, 15, 16, 17])]

In [13]:
df['wave'].value_counts().sort_index()

wave
12    155166
13    152874
14    176253
15    129474
16    126902
17    143686
Name: count, dtype: int64

In [14]:
df.shape

(884355, 90)

In [15]:
df.head()

,wave,COUNTRY_ISO3,INCOME_1,INCOME_2,INCOME_3,INCOME_4,INCOME_5,INCOME_6,INCOME_7,WP16,...,WP2319,WP4657,WP9042,WP9048,WP17625,WP17626,WP16056,WP15862,WP19544,WP3117
1709734,12,USA,600000.0,592300.098717,150000.0,148075.024679,5.0,NaN,1.0,5.0,...,2.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,2.0
1709735,12,USA,108000.0,106614.017769,54000.0,53307.008885,5.0,NaN,1.0,9.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,2.0,2.0
1709736,12,USA,21600.0,21322.803554,21600.0,21322.803554,3.0,NaN,1.0,6.0,...,1.0,1.0,NaN,NaN,1.0,2.0,1.0,2.0,NaN,2.0
1709737,12,USA,57600.0,56860.809477,57600.0,56860.809477,5.0,NaN,1.0,5.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,2.0,3.0
1709738,12,USA,34284.0,33844.027641,8571.0,8461.006910,2.0,NaN,1.0,7.0,...,2.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,3.0

In [16]:
variable_list.append('wave')

### Washing item by item

#### INCOME_2

In [17]:
group_means = df.groupby(['wave', 'COUNTRY_ISO3'])['INCOME_2'].transform('mean')

In [18]:
group_means

1709734    107344.552408
1709735    107344.552408
1709736    107344.552408
1709737    107344.552408
1709738    107344.552408
               ...
2594084     60673.641618
2594085     60673.641618
2594086     60673.641618
2594087     60673.641618
2594088     60673.641618
Name: INCOME_2, Length: 884355, dtype: float64

In [19]:
df.shape

(884355, 90)

In [20]:
group_means = df.groupby(['wave', 'COUNTRY_ISO3'])['INCOME_2'].transform('mean')

In [21]:
df['INCOME_2'].fillna(group_means, inplace=True)

/tmp/ipykernel_760305/4171748563.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['INCOME_2'].fillna(group_means, inplace=True)

In [22]:
df['INCOME_2'].isna().sum()

15673

In [23]:
df['INCOME_2'].head()

1709734    592300.098717
1709735    106614.017769
1709736     21322.803554
1709737     56860.809477
1709738     33844.027641
Name: INCOME_2, dtype: float64

In [24]:
df[df['INCOME_2'].isna()][['wave', 'COUNTRY_ISO3']].drop_duplicates()

         wave COUNTRY_ISO3
1773835    12          MRT
1885554    13          VEN
1911225    13          MRT
1913225    13          NER
2061411    14          VEN
2119615    14          ZWE
2227886    15          VEN
2264125    15          ZWE
2358159    16          VEN
2396240    16          SLE
2397240    16          ZWE
2453422    17          LBN
2474481    17          IRN
2525566    17          ZWE
2556989    17          JAM
2591089    17          YEM

In [25]:
df.dropna(subset=['INCOME_2'], inplace=True)

In [26]:
df['INCOME_2'].isna().sum()

0

In [27]:
df.shape

(868682, 90)

In [28]:
variable_list.append('INCOME_2')

In [29]:
code = 'INCOME_5'
name = 'Income_level'

In [30]:
df[name] = df[code]

In [31]:
print(df[code].value_counts(dropna=False).sort_index())

INCOME_5
1.0    142897
2.0    153245
3.0    167389
4.0    184648
5.0    220503
Name: count, dtype: int64

#### WP16 Cantril_ladder

drop 98 99 to NaN

In [32]:
df['Cantril_ladder'] = df['WP16']

In [33]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      42565
1.0      27590
2.0      36225
3.0      59265
4.0      71016
5.0     193836
6.0      95765
7.0     118001
8.0     108226
9.0      37923
10.0     64622
98.0     12724
99.0       924
Name: count, dtype: int64

In [34]:
df = df[df['Cantril_ladder'] < 11]

In [35]:
df['Cantril_ladder'].value_counts(dropna=False).sort_index()

Cantril_ladder
0.0      42565
1.0      27590
2.0      36225
3.0      59265
4.0      71016
5.0     193836
6.0      95765
7.0     118001
8.0     108226
9.0      37923
10.0     64622
Name: count, dtype: int64

In [36]:
df.shape

(855034, 92)

In [37]:
variable_list.append('Cantril_ladder')

#### WP18

In [38]:
df['WP18'].value_counts(dropna=False).sort_index()

WP18
0.0      17446
1.0      13267
2.0      20654
3.0      31637
4.0      35609
5.0      89840
6.0      72172
7.0     111206
8.0     149889
9.0      91297
10.0    155796
98.0     64526
99.0      1695
Name: count, dtype: int64

**Do not use**

#### WP23 Health_disable

drop 3 4 to NaN

In [39]:
df['WP23'].value_counts(dropna=False).sort_index()

WP23
1.0    209933
2.0    639967
3.0      2737
4.0       445
NaN      1952
Name: count, dtype: int64

In [40]:
df['Health_disable'] = df['WP23']

In [41]:
df = df[df['Health_disable'] < 3]

In [42]:
df['Health_disable'].value_counts(dropna=False).sort_index()

Health_disable
1.0    209933
2.0    639967
Name: count, dtype: int64

In [43]:
df['Health_disable'] = np.abs(df['Health_disable']-2)

In [44]:
df['Health_disable'].value_counts(dropna=False).sort_index()

Health_disable
0.0    639967
1.0    209933
Name: count, dtype: int64

In [45]:
variable_list.append('Health_disable')

#### WP27 Relative_have

drop 3 4 to 2

In [46]:
df['WP27'].value_counts(dropna=False).sort_index()

WP27
1.0    688058
2.0    154692
3.0      5759
4.0       461
NaN       930
Name: count, dtype: int64

In [47]:
df['Relative_have'] = df['WP27']

In [48]:
df['Relative_have'] = df['Relative_have'].fillna(2)

In [49]:
df.loc[df['Relative_have'].isin([3, 4]), 'Relative_have'] = 2

In [50]:
df['Relative_have'].value_counts(dropna=False).sort_index()

Relative_have
1.0    688058
2.0    161842
Name: count, dtype: int64

In [51]:
df['Relative_have'] = np.abs(df['Relative_have']-2)

In [52]:
df['Relative_have'].value_counts(dropna=False).sort_index()

Relative_have
0.0    161842
1.0    688058
Name: count, dtype: int64

In [53]:
variable_list.append('Relative_have')

#### WP30 Life_satisfaction

drop 3 4 to 2

In [54]:
df['WP30'].value_counts(dropna=False).sort_index()

WP30
1.0    564243
2.0    273696
3.0      9914
4.0      1117
NaN       930
Name: count, dtype: int64

In [55]:
df['Life_satisfaction'] = df['WP30']

In [56]:
df['Life_satisfaction'] = df['Life_satisfaction'].fillna(2)

In [57]:
df.loc[df['Life_satisfaction'].isin([3, 4]), 'Life_satisfaction'] = 2

In [58]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()

Life_satisfaction
1.0    564243
2.0    285657
Name: count, dtype: int64

In [59]:
df['Life_satisfaction'] = np.abs(df['Life_satisfaction']-2)

In [60]:
df['Life_satisfaction'].value_counts(dropna=False).sort_index()

Life_satisfaction
0.0    285657
1.0    564243
Name: count, dtype: int64

In [61]:
variable_list.append('Life_satisfaction')

#### WP31 Living_standard_trend

drop 4 5 to 2

In [62]:
df['WP31'].value_counts(dropna=False).sort_index()

WP31
1.0    410233
2.0    179276
3.0    241899
4.0     10634
5.0       807
NaN      7051
Name: count, dtype: int64

In [63]:
df['Living_standard_trend'] = df['WP31']

In [64]:
df['Living_standard_trend'] = df['Living_standard_trend'].fillna(2)

In [65]:
df.loc[df['Living_standard_trend'].isin([4, 5]), 'Living_standard_trend'] = 2

In [66]:
df['Living_standard_trend'].value_counts(dropna=False).sort_index()

Living_standard_trend
1.0    410233
2.0    197768
3.0    241899
Name: count, dtype: int64

In [67]:
df['Living_standard_trend'] = -(df['Living_standard_trend'] - 2)

In [68]:
df['Living_standard_trend'].value_counts(dropna=False).sort_index()

Living_standard_trend
-1.0    241899
-0.0    197768
 1.0    410233
Name: count, dtype: int64

In [69]:
variable_list.append('Living_standard_trend')

#### WP40 WP43 Enough_food Enough_shelter

drop 3 4 to 2

In [70]:
name_list = ['Enough_food', 'Enough_shelter']

In [71]:
df['Enough_food'] = df['WP40']
df['Enough_shelter'] = df['WP43']

In [72]:
df['Enough_food'].value_counts(dropna=False).sort_index()

Enough_food
1.0    302464
2.0    540676
3.0      3195
4.0       611
NaN      2954
Name: count, dtype: int64

In [73]:
df['Enough_food'] = df['Enough_food'].fillna(2)
df['Enough_shelter'] = df['Enough_shelter'].fillna(2)

In [74]:
df['Enough_shelter'].value_counts(dropna=False).sort_index()

Enough_shelter
1.0    243779
2.0    600095
3.0      5100
4.0       926
Name: count, dtype: int64

In [75]:
columns_to_replace = ['Enough_food', 'Enough_shelter']

for column in columns_to_replace:
    df.loc[df[column].isin([3, 4]), column] = 2

In [76]:
df['Enough_food'] = np.abs(df['Enough_food']-2)

In [77]:
df['Enough_shelter'] = np.abs(df['Enough_shelter']-2)

In [78]:
df['Enough_food'].value_counts(dropna=False).sort_index()

Enough_food
0.0    547436
1.0    302464
Name: count, dtype: int64

In [79]:
df['Enough_shelter'].value_counts(dropna=False).sort_index()

Enough_shelter
0.0    606121
1.0    243779
Name: count, dtype: int64

In [80]:
variable_list = variable_list + name_list

#### WP60, WP61, WP63, WP65  Well_rested, Respected, Smile, Interesting_thing

drop 3 4 to 2

In [81]:
name_list = ["Well_rested", "Respected", "Smile", "Interesting_thing"]

In [82]:
code_list = ["WP60", "WP61", "WP63", "WP65"]

In [83]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name].isin([3, 4]), name] = 2
    df[name] = np.abs(df[name]-2) 
    print(df[name].value_counts(dropna=False).sort_index())

WP60
1.0    571737
2.0    266912
3.0      3747
4.0       397
NaN      7107
Name: count, dtype: int64
Well_rested
0.0    278163
1.0    571737
Name: count, dtype: int64
WP61
1.0    740562
2.0     91281
3.0     10054
4.0       896
NaN      7107
Name: count, dtype: int64
Respected
0.0    109338
1.0    740562
Name: count, dtype: int64
WP63
1.0    607165
2.0    224595
3.0     10307
4.0       726
NaN      7107
Name: count, dtype: int64
Smile
0.0    242735
1.0    607165
Name: count, dtype: int64
WP65
1.0    450741
2.0    383900
3.0      7566
4.0       586
NaN      7107
Name: count, dtype: int64
Interesting_thing
0.0    399159
1.0    450741
Name: count, dtype: int64

In [84]:
variable_list = variable_list + name_list

#### WP67, WP68, WP69, WP70, WP71, WP74  Enjoyment, Physical_pain, Worry, Sadness, Stress, Anger

drop 3 4 to 2

In [85]:
name_list = ["Enjoyment", "Physical_pain", "Worry", "Sadness", "Stress", "Anger"]

In [86]:
code_list = ["WP67", "WP68", "WP69", "WP70", "WP71", "WP74"]

In [87]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name].isin([3, 4]), name] = 2
    df[name] = np.abs(df[name]-2) 
    print(df[name].value_counts(dropna=False).sort_index())

WP67
1.0    576556
2.0    253325
3.0      8292
4.0       684
NaN     11043
Name: count, dtype: int64
Enjoyment
0.0    273344
1.0    576556
Name: count, dtype: int64
WP68
1.0    276936
2.0    565738
3.0      2032
4.0       272
NaN      4922
Name: count, dtype: int64
Physical_pain
0.0    572964
1.0    276936
Name: count, dtype: int64
WP69
1.0    341255
2.0    500322
3.0      3076
4.0       325
NaN      4922
Name: count, dtype: int64
Worry
0.0    508645
1.0    341255
Name: count, dtype: int64
WP70
1.0    216873
2.0    623971
3.0      3727
4.0       407
NaN      4922
Name: count, dtype: int64
Sadness
0.0    633027
1.0    216873
Name: count, dtype: int64
WP71
1.0    305845
2.0    532661
3.0      5066
4.0       416
NaN      5912
Name: count, dtype: int64
Stress
0.0    544055
1.0    305845
Name: count, dtype: int64
WP74
1.0    175247
2.0    666088
3.0      3214
4.0       429
NaN      4922
Name: count, dtype: int64
Anger
0.0    674653
1.0    175247
Name: count, dtype: int64

In [88]:
variable_list = variable_list + name_list

#### WP83 City_satisfaction

drop 3 4 to 2

In [89]:
code = 'WP83'
name = 'City_satisfaction'

In [90]:
print(df[code].value_counts().sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts().sort_index())

WP83
1.0    655854
2.0    171893
3.0      7408
4.0       647
Name: count, dtype: int64
City_satisfaction
0.0    194046
1.0    655854
Name: count, dtype: int64

In [91]:
variable_list.append(name)

#### **WP85

Move_place drop 3 4 to 2

In [92]:
#code = 'WP85'

In [93]:
#name = 'Move_place'

In [94]:
#print(df[code].value_counts(dropna=False).sort_index())
#df[name] = df[code]
#df[name] = df[name].fillna(2)
#df.loc[df[name] > 1, name] = 0
#print(df[name].value_counts().sort_index())

In [95]:
#variable_list.append(name)

**To be determined**

#### WP86 Recommended_live_place

drop 3 4 to 2

In [96]:
code = 'WP86'
name = 'Recommended_live_place'

In [97]:
print(df[code].value_counts(dropna=False).sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts(dropna=False).sort_index())

WP86
1.0    596946
2.0    216041
3.0     21792
4.0      1023
NaN     14098
Name: count, dtype: int64
Recommended_live_place
0.0    252954
1.0    596946
Name: count, dtype: int64

In [98]:
variable_list.append(name)

#### WP19472 Economic_rating

Drop nan 8 9 to 2

In [99]:
code = 'WP19472'
name = 'Economic_rating'

In [100]:
print(df[code].value_counts(dropna=False).sort_index())

WP19472
1.0    166101
2.0    351457
3.0    254275
4.0     56604
8.0     11860
9.0       539
NaN      9064
Name: count, dtype: int64

In [101]:
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name].isin([8, 9]), name] = 2
print(df[name].value_counts(dropna=False).sort_index())

Economic_rating
1.0    166101
2.0    372920
3.0    254275
4.0     56604
Name: count, dtype: int64

In [102]:
variable_list.append(name)

#### WP88 Economy_trend

Drop nan 4 5 to 2

In [103]:
code = 'WP88'
name = 'Economic_trend'

In [104]:
print(df[code].value_counts(dropna=False).sort_index())

WP88
1.0    365977
2.0    129015
3.0    317404
4.0     27567
5.0       873
NaN      9064
Name: count, dtype: int64

In [105]:
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name].isin([4, 5]), name] = 2
df[name] = -(df[name] - 2)
print(df[name].value_counts(dropna=False).sort_index())

Economic_trend
-1.0    317404
-0.0    166519
 1.0    365977
Name: count, dtype: int64

In [106]:
variable_list.append(name)

#### WP89 Local_job_outlook

Drop nan 3 4 to 2

In [107]:
code = 'WP89'
name = 'Local_job_outlook'

In [108]:
print(df[code].value_counts(dropna=False).sort_index())
df[name] = df[code]
df[name] = df[name].fillna(2)
df.loc[df[name] > 1, name] = 0
print(df[name].value_counts(dropna=False).sort_index())

WP89
1.0    323101
2.0    454415
3.0     58038
4.0      1799
NaN     12547
Name: count, dtype: int64
Local_job_outlook
0.0    526799
1.0    323101
Name: count, dtype: int64

In [109]:
variable_list.append(name)

#### WP91, WP92, WP93, WP94, WP95, WP97. WP98, WP10248 -> Satisfied_pubtran, Satisfied_road, Satisfied_edu, Satisfied_qualityair, Satisfied_qualitywater, Satisfied_healthcare, Satisfied_affhouse, Satisfied_makefriend

Drop nan 3 4 to 2

In [110]:
name_list = ['Satisfied_pubtran', 'Satisfied_road', 'Satisfied_edu', 'Satisfied_qualityair', 'Satisfied_qualitywater', 'Satisfied_healthcare', 'Satisfied_affhouse', 'Satisfied_oppofriend']

In [111]:
code_list = ['WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248']

In [112]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP91
1.0    497582
2.0    297857
3.0     43572
4.0      1825
NaN      9064
Name: count, dtype: int64
Satisfied_pubtran
0.0    352318
1.0    497582
Name: count, dtype: int64
WP92
1.0    475046
2.0    351191
3.0     13902
4.0       697
NaN      9064
Name: count, dtype: int64
Satisfied_road
0.0    374854
1.0    475046
Name: count, dtype: int64
WP93
1.0    516505
2.0    263782
3.0     55960
4.0      1524
NaN     12129
Name: count, dtype: int64
Satisfied_edu
0.0    333395
1.0    516505
Name: count, dtype: int64
WP94
1.0    625422
2.0    204172
3.0     10623
4.0       619
NaN      9064
Name: count, dtype: int64
Satisfied_qualityair
0.0    224478
1.0    625422
Name: count, dtype: int64
WP95
1.0    600177
2.0    239235
3.0      7130
4.0       415
NaN      2943
Name: count, dtype: int64
Satisfied_qualitywater
0.0    249723
1.0    600177
Name: count, dtype: int64
WP97
1.0    493323
2.0    323873
3.0     20678
4.0       920
NaN     11106
Name: count, dtype: int64
Satisfied_healthcare
0.0    356577
1.0    493323
Name: count, dtype: int64
WP98
1.0    419451
2.0    363803
3.0     55897
4.0      1685
NaN      9064
Name: count, dtype: int64
Satisfied_affhouse
0.0    430449
1.0    419451
Name: count, dtype: int64
WP10248
1.0    638029
2.0    156341
3.0     23885
4.0      1590
NaN     30055
Name: count, dtype: int64
Satisfied_oppofriend
0.0    211871
1.0    638029
Name: count, dtype: int64

In [113]:
variable_list = variable_list + name_list

#### WP103, WP105, WP106 -> Good_minorities, Good_homo, Good_immigrants

Drop nan 3 4 to 2

In [114]:
name_list = ['Good_minorities', 'Good_homo', 'Good_immigrants']

In [115]:
code_list = ['WP103', 'WP105', 'WP106']

In [116]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP103
1.0    530909
2.0    162510
3.0     51481
4.0      2560
NaN    102440
Name: count, dtype: int64
Good_minorities
0.0    318991
1.0    530909
Name: count, dtype: int64
WP105
1.0    287763
2.0    338653
3.0     96640
4.0      8781
NaN    118063
Name: count, dtype: int64
Good_homo
0.0    562137
1.0    287763
Name: count, dtype: int64
WP106
1.0    516436
2.0    257515
3.0     64690
4.0      3272
NaN      7987
Name: count, dtype: int64
Good_immigrants
0.0    333464
1.0    516436
Name: count, dtype: int64

In [117]:
variable_list = variable_list + name_list

#### WP108, WP109, WP110, WP111 -> Donated, Volunteer, Help_stranger, Voice_official

Drop nan 3 4 to 2

In [118]:
name_list = ['Donated', 'Volunteer', 'Help_stranger', 'Voice_official']

In [119]:
code_list = ['WP108', 'WP109', 'WP110', 'WP111']

In [120]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP108
1.0    275806
2.0    568495
3.0      2765
4.0      1405
NaN      1429
Name: count, dtype: int64
Donated
0.0    574094
1.0    275806
Name: count, dtype: int64
WP109
1.0    181972
2.0    662524
3.0      3289
4.0       686
NaN      1429
Name: count, dtype: int64
Volunteer
0.0    667928
1.0    181972
Name: count, dtype: int64
WP110
1.0    462094
2.0    379682
3.0      4451
4.0      1243
NaN      2430
Name: count, dtype: int64
Help_stranger
0.0    387806
1.0    462094
Name: count, dtype: int64
WP111
1.0    171016
2.0    643756
3.0      6525
4.0      1040
NaN     27563
Name: count, dtype: int64
Voice_official
0.0    678884
1.0    171016
Name: count, dtype: int64

In [121]:
variable_list = variable_list + name_list

#### WP112, WP113, WP117, WP118 -> Local_police_confidence, Safety_walk, Stolen, Assualted

Drop nan 3 4 to 2

In [122]:
name_list = ['Local_police_confidence', 'Safety_walk', 'Stolen', 'Assualted']

In [123]:
code_list = ['WP112', 'WP113', 'WP117', 'WP118']

In [124]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP112
1.0    503820
2.0    221368
3.0     28677
4.0      2054
NaN     93981
Name: count, dtype: int64
Local_police_confidence
0.0    346080
1.0    503820
Name: count, dtype: int64
WP113
1.0    534170
2.0    280373
3.0     17402
4.0      1054
NaN     16901
Name: count, dtype: int64
Safety_walk
0.0    315730
1.0    534170
Name: count, dtype: int64
WP117
1.0    123892
2.0    700323
3.0      3171
4.0       352
NaN     22162
Name: count, dtype: int64
Stolen
0.0    726008
1.0    123892
Name: count, dtype: int64
WP118
1.0     54623
2.0    771357
3.0      1780
4.0       369
NaN     21771
Name: count, dtype: int64
Assualted
0.0    795277
1.0     54623
Name: count, dtype: int64

In [125]:
variable_list = variable_list + name_list

#### WP119, WP129, WP130, WP9050 -> Religion_importance, Children_respected, Children_learn, Women_respected

Drop nan 3 4 to 2

In [126]:
name_list = ['Religion_importance', 'Children_respected', 'Children_learn', 'Women_respected']

In [127]:
code_list = ['WP119', 'WP129', 'WP130', 'WP9050']

In [128]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP119
1.0    540788
2.0    244826
3.0      7043
4.0      1554
NaN     55689
Name: count, dtype: int64
Religion_importance
0.0    309112
1.0    540788
Name: count, dtype: int64
WP129
1.0    563979
2.0    245775
3.0     31586
4.0      1424
NaN      7136
Name: count, dtype: int64
Children_respected
0.0    285921
1.0    563979
Name: count, dtype: int64
WP130
1.0    588191
2.0    232554
3.0     21225
4.0       794
NaN      7136
Name: count, dtype: int64
Children_learn
0.0    261709
1.0    588191
Name: count, dtype: int64
WP9050
1.0    548693
2.0    272114
3.0     26564
4.0      1514
NaN      1015
Name: count, dtype: int64
Women_respected
0.0    301207
1.0    548693
Name: count, dtype: int64

In [129]:
variable_list = variable_list + name_list

#### WP131, WP132, WP134 -> Satisfied_dealpoor, Satisfied_Env_preservation, Satisfied_Personalfreedom

Drop nan 3 4 to 2

In [130]:
name_list = ['Satisfied_dealpoor', 'Satisfied_Env_preservation', 'Satisfied_Personalfreedom']

In [131]:
code_list = ['WP131', 'WP132', 'WP134']

In [132]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP131
1.0    367801
2.0    442565
3.0     33035
4.0      1491
NaN      5008
Name: count, dtype: int64
Satisfied_dealpoor
0.0    482099
1.0    367801
Name: count, dtype: int64
WP132
1.0    437926
2.0    374591
3.0     29210
4.0      1037
NaN      7136
Name: count, dtype: int64
Satisfied_Env_preservation
0.0    411974
1.0    437926
Name: count, dtype: int64
WP134
1.0    659787
2.0    166391
3.0     13581
4.0      1080
NaN      9061
Name: count, dtype: int64
Satisfied_Personalfreedom
0.0    190113
1.0    659787
Name: count, dtype: int64

In [133]:
variable_list = variable_list + name_list

#### WP137, WP138, WP139, WP141, WP144 -> Confidence_military, Confidence_judicial, Confidence_gov, Confidence_fin, Confidence_honestyelections

Drop nan 3 4 to 2

In [134]:
name_list = ['Confidence_military', 'Confidence_judicial', 'Confidence_gov', 'Confidence_fin', 'Confidence_honestyelections']

In [135]:
code_list = ['WP137', 'WP138', 'WP139', 'WP141', 'WP144']

In [136]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP137
1.0    521824
2.0    176345
3.0     32216
4.0      2224
NaN    117291
Name: count, dtype: int64
Confidence_military
0.0    328076
1.0    521824
Name: count, dtype: int64
WP138
1.0    381330
2.0    326725
3.0     48491
4.0      2632
NaN     90722
Name: count, dtype: int64
Confidence_judicial
0.0    468570
1.0    381330
Name: count, dtype: int64
WP139
1.0    374817
2.0    336268
3.0     32288
4.0      4735
NaN    101792
Name: count, dtype: int64
Confidence_gov
0.0    475083
1.0    374817
Name: count, dtype: int64
WP141
1.0    476107
2.0    283014
3.0     44748
4.0      2026
NaN     44005
Name: count, dtype: int64
Confidence_fin
0.0    373793
1.0    476107
Name: count, dtype: int64
WP144
1.0    364041
2.0    329524
3.0     41264
4.0      4125
NaN    110946
Name: count, dtype: int64
Confidence_honestyelections
0.0    485859
1.0    364041
Name: count, dtype: int64

In [137]:
variable_list = variable_list + name_list

#### WP10251, WP145, WP146, WP150 -> Freedom_media, Corruption_business, Corruption_government, Performance_leadership

Drop nan 3 4 to 2

In [138]:
name_list = ['Freedom_media', 'Corruption_business', 'Corruption_government', 'Performance_leadership']

In [139]:
code_list = ['WP10251', 'WP145', 'WP146', 'WP150']

In [140]:
for code, name in zip(code_list, name_list):
    print(df[code].value_counts(dropna=False).sort_index())
    df[name] = df[code]
    df[name] = df[name].fillna(2)
    df.loc[df[name] > 1, name] = 0
    print(df[name].value_counts(dropna=False).sort_index())

WP10251
1.0    488101
2.0    235058
3.0     51829
4.0      1813
NaN     73099
Name: count, dtype: int64
Freedom_media
0.0    361799
1.0    488101
Name: count, dtype: int64
WP145
1.0    522280
2.0    187736
3.0     79574
4.0      3206
NaN     57104
Name: count, dtype: int64
Corruption_business
0.0    327620
1.0    522280
Name: count, dtype: int64
WP146
1.0    478896
2.0    183409
3.0     73043
4.0      4748
NaN    109804
Name: count, dtype: int64
Corruption_government
0.0    371004
1.0    478896
Name: count, dtype: int64
WP150
1.0    353320
2.0    339934
3.0     43459
4.0      7393
NaN    105794
Name: count, dtype: int64
Performance_leadership
0.0    496580
1.0    353320
Name: count, dtype: int64

In [141]:
variable_list = variable_list + name_list

####  WP1219 Gender_female

Use 0&1 instead of 1&2

In [142]:
code = 'WP1219'
name = 'Gender_female'

In [143]:
df[name] = df[code]

In [144]:
print(df[code].value_counts(dropna=False).sort_index())

WP1219
1.0    402384
2.0    447516
Name: count, dtype: int64

In [145]:
df[name] = df[name] - 1

In [146]:
print(df[name].value_counts(dropna=False).sort_index())

Gender_female
0.0    402384
1.0    447516
Name: count, dtype: int64

In [147]:
variable_list.append(name)

#### WP1220  Age

drop 100 to nan

In [148]:
code = 'WP1220'
name = 'Age'

In [149]:
df[name] = df[code]

In [150]:
print(df[code].value_counts(dropna=False).sort_index())

WP1220
15.0     10236
16.0     11918
17.0     13102
17.5         1
18.0     19292
         ...
97.0        40
98.0        48
99.0       293
100.0     2641
NaN          6
Name: count, Length: 88, dtype: int64

In [151]:
df[name] = df[name].fillna(100)

In [152]:
df.shape

(849900, 150)

In [153]:
df = df[df[name] < 100]

In [154]:
df.shape

(847253, 150)

In [155]:
print(df[name].value_counts(dropna=False).sort_index())

Age
15.0    10236
16.0    11918
17.0    13102
17.5        1
18.0    19292
        ...
95.0       78
96.0       45
97.0       40
98.0       48
99.0      293
Name: count, Length: 86, dtype: int64

In [156]:
variable_list.append(name)

#### WP3117 Education

In [157]:
code = 'WP3117'
name = 'Education'

In [158]:
df[name] = df[code]

In [159]:
print(df[code].value_counts(dropna=False).sort_index())

WP3117
1.0    229203
2.0    437203
3.0    176965
4.0      2089
5.0      1783
NaN        10
Name: count, dtype: int64

In [160]:
df[name] = df[name].fillna(2)

In [161]:
df.loc[df[name] > 3, name] = 2

In [162]:
print(df[name].value_counts(dropna=False).sort_index())

Education
1.0    229203
2.0    441085
3.0    176965
Name: count, dtype: int64

In [163]:
df[name] = (df[name] - 2)

In [164]:
print(df[name].value_counts(dropna=False).sort_index())

Education
-1.0    229203
 0.0    441085
 1.0    176965
Name: count, dtype: int64

In [165]:
variable_list.append(name)

#### WP1223  Marital_status

drop 6 7 to nan

In [166]:
code = 'WP1223'
name = 'Marital_status'

In [167]:
df[name] = df[code]

In [168]:
print(df[code].value_counts(dropna=False).sort_index())

WP1223
1.0    260846
2.0    416088
3.0     20251
4.0     35609
5.0     57615
6.0      1112
7.0      1151
8.0     51136
NaN      3445
Name: count, dtype: int64

In [169]:
df[name] = df[name].fillna(6)

In [170]:
df = df[df[name] != 6]
df = df[df[name] != 7]

In [171]:
print(df[name].value_counts(dropna=False).sort_index())

Marital_status
1.0    260846
2.0    416088
3.0     20251
4.0     35609
5.0     57615
8.0     51136
Name: count, dtype: int64

In [172]:
variable_list.append(name)

#### EMP_2010 Employment

In [173]:
code = 'EMP_2010'
name = 'Employment'

In [174]:
df[name] = df[code]

In [175]:
print(df[code].value_counts(dropna=False).sort_index())

EMP_2010
1.0    240416
2.0    113419
3.0     59978
4.0     55548
5.0     72963
6.0    298240
NaN       981
Name: count, dtype: int64

In [176]:
df[name] = df[name].fillna(10)

In [177]:
df.shape

(841545, 153)

In [178]:
df = df[df[name] != 10]

In [179]:
df.shape

(840564, 153)

In [180]:
print(df[name].value_counts(dropna=False).sort_index())

Employment
1.0    240416
2.0    113419
3.0     59978
4.0     55548
5.0     72963
6.0    298240
Name: count, dtype: int64

In [181]:
variable_list.append(name)

#### WP1230 Children_under15

If it is greater than 10, then it is equal to 1

In [182]:
code = 'WP1230'
name = 'Children_under15'

In [183]:
df[name] = df[code]

In [184]:
print(df[code].value_counts(dropna=False).sort_index())

WP1230
0.0     405473
1.0     150376
2.0     135278
3.0      69198
4.0      34217
5.0      18161
6.0       9326
7.0       4917
8.0       3272
9.0       1499
10.0      1925
11.0       535
12.0       724
13.0       316
14.0       241
15.0       528
16.0       138
17.0        92
18.0        75
19.0        35
20.0       231
21.0        29
22.0        24
23.0        12
24.0        13
25.0        54
26.0         6
27.0         8
28.0         5
29.0         1
30.0        34
31.0         2
32.0         3
33.0         2
34.0         2
35.0         6
36.0         2
38.0         2
40.0         1
42.0         1
44.0         1
50.0         1
55.0         1
98.0       828
99.0      1055
NaN       1914
Name: count, dtype: int64

In [185]:
df[name] = df[name].fillna(100)

In [186]:
print(df[name].value_counts(dropna=False).sort_index())

Children_under15
0.0      405473
1.0      150376
2.0      135278
3.0       69198
4.0       34217
5.0       18161
6.0        9326
7.0        4917
8.0        3272
9.0        1499
10.0       1925
11.0        535
12.0        724
13.0        316
14.0        241
15.0        528
16.0        138
17.0         92
18.0         75
19.0         35
20.0        231
21.0         29
22.0         24
23.0         12
24.0         13
25.0         54
26.0          6
27.0          8
28.0          5
29.0          1
30.0         34
31.0          2
32.0          3
33.0          2
34.0          2
35.0          6
36.0          2
38.0          2
40.0          1
42.0          1
44.0          1
50.0          1
55.0          1
98.0        828
99.0       1055
100.0      1914
Name: count, dtype: int64

In [187]:
df.loc[df[name] > 0, name] = 1

In [188]:
print(df[name].value_counts(dropna=False).sort_index())

Children_under15
0.0    405473
1.0    435091
Name: count, dtype: int64

In [189]:
variable_list.append(name)

#### WP2319 -> Feeling_income

drop 5 6 to nan

In [190]:
code = 'WP2319'
name = 'Feeling_income'

In [191]:
df[name] = df[code]

In [192]:
print(df[code].value_counts(dropna=False).sort_index())

WP2319
1.0    187080
2.0    327936
3.0    188478
4.0    124448
5.0      8218
6.0      4404
Name: count, dtype: int64

In [193]:
df[name] = df[name].fillna(5)

In [194]:
df.shape

(840564, 155)

In [195]:
df = df[df[name] < 5]

In [196]:
df.shape

(827942, 155)

In [197]:
print(df[name].value_counts(dropna=False).sort_index())

Feeling_income
1.0    187080
2.0    327936
3.0    188478
4.0    124448
Name: count, dtype: int64

In [198]:
variable_list.append(name)

#### WP4657 Born_here

In [199]:
code = 'WP4657'
name = 'Born_here'

In [200]:
df[name] = df[code]

In [201]:
print(df[code].value_counts(dropna=False).sort_index())

WP4657
1.0    762957
2.0     48834
3.0       123
4.0       103
NaN     15925
Name: count, dtype: int64

In [202]:
df[name] = df[name].fillna(2)

In [203]:
df.loc[df[name].isin([3, 4]), name] = 2

In [204]:
df[name] = np.abs(df[name]-2)

In [205]:
print(df[name].value_counts(dropna=False).sort_index())

Born_here
0.0     64985
1.0    762957
Name: count, dtype: int64

In [206]:
variable_list.append(name)

#### WP17625 Home_handline

drop 3 4 to nan

In [207]:
code = 'WP17625'
name = 'Home_handline'

In [208]:
df[name] = df[code]

In [209]:
print(df[code].value_counts(dropna=False).sort_index())

WP17625
1.0    233103
2.0    572864
3.0       692
4.0       411
NaN     20872
Name: count, dtype: int64

In [210]:
df[name] = df[name].fillna(3)

In [211]:
df = df[df[name] < 3]

In [212]:
print(df[name].value_counts(dropna=False).sort_index())

Home_handline
1.0    233103
2.0    572864
Name: count, dtype: int64

In [213]:
df[name] = np.abs(df[name]-2)

In [214]:
print(df[name].value_counts(dropna=False).sort_index())

Home_handline
0.0    572864
1.0    233103
Name: count, dtype: int64

In [215]:
variable_list.append(name)

#### WP17626 Mobile_phone

drop 3 4 to nan

In [216]:
code = 'WP17626'
name = 'Mobile_phone'

In [217]:
df[name] = df[code]

In [218]:
print(df[code].value_counts(dropna=False).sort_index())

WP17626
1.0    707407
2.0     98027
3.0       210
4.0       322
NaN         1
Name: count, dtype: int64

In [219]:
df[name] = df[name].fillna(3)

In [220]:
df = df[df[name] < 3]

In [221]:
df[name] = np.abs(df[name]-2)

In [222]:
print(df[name].value_counts(dropna=False).sort_index())

Mobile_phone
0.0     98027
1.0    707407
Name: count, dtype: int64

In [223]:
variable_list.append(name)

#### WP16056 Internet_access_available

drop 3 4  nan

In [224]:
code = 'WP16056'
name = 'Internet_access_available'

In [225]:
df[name] = df[code]

In [226]:
print(df[code].value_counts(dropna=False).sort_index())

WP16056
1.0    541121
2.0    261699
3.0      2389
4.0       225
Name: count, dtype: int64

In [227]:
df[name] = df[name].fillna(3)

In [228]:
df = df[df[name] < 3]

In [229]:
df[name] = np.abs(df[name]-2)

In [230]:
print(df[name].value_counts(dropna=False).sort_index())

Internet_access_available
0.0    261699
1.0    541121
Name: count, dtype: int64

In [231]:
variable_list.append(name)

#### **WP15862 Used_internet_recently

In [232]:
code = 'WP15862'
name = 'Used_internet_recently'

In [233]:
df[name] = df[code]

In [234]:
print(df[code].value_counts(dropna=False).sort_index())

WP15862
1.0    496891
2.0     43920
3.0       254
4.0        56
NaN    261699
Name: count, dtype: int64

In [235]:
df[name] = df[name].fillna(2)
df = df[df[name] < 3]

In [236]:
df[name] = np.abs(df[name]-2)

In [237]:
print(df[name].value_counts(dropna=False).sort_index())

Used_internet_recently
0.0    305619
1.0    496891
Name: count, dtype: int64

In [238]:
variable_list.append(name)

**To be determined**

In [239]:
df['Internet_access_available'].value_counts(dropna=False).sort_index()

Internet_access_available
0.0    261699
1.0    540811
Name: count, dtype: int64

#### **WP19544 Phone_internet_access

In [240]:
code = 'WP19544'
name = 'Phone_internet_access'

In [241]:
df[name] = df[code]

In [242]:
print(df[code].value_counts(dropna=False).sort_index())

WP19544
1.0    527859
2.0    171636
3.0      3754
4.0       152
NaN     99109
Name: count, dtype: int64

In [243]:
df[name] = df[name].fillna(2)
df = df[df[name] < 3]

In [244]:
df[name] = np.abs(df[name]-2)

In [245]:
print(df[name].value_counts(dropna=False).sort_index())

Phone_internet_access
0.0    270745
1.0    527859
Name: count, dtype: int64

In [246]:
variable_list.append(name)

**To be determined**

In [247]:
df['Internet_access_available'].value_counts(dropna=False).sort_index()

Internet_access_available
0.0    258850
1.0    539754
Name: count, dtype: int64

#### COUNTRY_ISO3

In [248]:
name = 'COUNTRY_ISO3'

In [249]:
variable_list.append(name)

#### INCOME_5

In [250]:
code = 'INCOME_5'
name = 'Income_level'

In [251]:
df[name] = df[code]

In [252]:
print(df[code].value_counts(dropna=False).sort_index())

INCOME_5
1.0    127118
2.0    140056
3.0    154335
4.0    171161
5.0    205934
Name: count, dtype: int64

In [253]:
df.shape

(798604, 161)

In [254]:
df = df.dropna(subset=['INCOME_5'])

In [255]:
df.shape

(798604, 161)

In [256]:
variable_list.append(name)

### Save the Washed Dataset

In [257]:
variable_list

['wave',
 'INCOME_2',
 'Cantril_ladder',
 'Health_disable',
 'Relative_have',
 'Life_satisfaction',
 'Living_standard_trend',
 'Enough_food',
 'Enough_shelter',
 'Well_rested',
 'Respected',
 'Smile',
 'Interesting_thing',
 'Enjoyment',
 'Physical_pain',
 'Worry',
 'Sadness',
 'Stress',
 'Anger',
 'City_satisfaction',
 'Recommended_live_place',
 'Economic_rating',
 'Economic_trend',
 'Local_job_outlook',
 'Satisfied_pubtran',
 'Satisfied_road',
 'Satisfied_edu',
 'Satisfied_qualityair',
 'Satisfied_qualitywater',
 'Satisfied_healthcare',
 'Satisfied_affhouse',
 'Satisfied_oppofriend',
 'Good_minorities',
 'Good_homo',
 'Good_immigrants',
 'Donated',
 'Volunteer',
 'Help_stranger',
 'Voice_official',
 'Local_police_confidence',
 'Safety_walk',
 'Stolen',
 'Assualted',
 'Religion_importance',
 'Children_respected',
 'Children_learn',
 'Women_respected',
 'Satisfied_dealpoor',
 'Satisfied_Env_preservation',
 'Satisfied_Personalfreedom',
 'Confidence_military',
 'Confidence_judicial',
 'Confidence_gov',
 'Confidence_fin',
 'Confidence_honestyelections',
 'Freedom_media',
 'Corruption_business',
 'Corruption_government',
 'Performance_leadership',
 'Gender_female',
 'Age',
 'Education',
 'Marital_status',
 'Employment',
 'Children_under15',
 'Feeling_income',
 'Born_here',
 'Home_handline',
 'Mobile_phone',
 'Internet_access_available',
 'Used_internet_recently',
 'Phone_internet_access',
 'COUNTRY_ISO3',
 'Income_level']

In [258]:
len(variable_list)

74

In [259]:
ZhangWahsedDataset = df[variable_list]

In [260]:
ZhangWahsedDataset.shape

(798604, 74)

In [263]:
ZhangWahsedDataset.isna().any().any()

False

In [262]:
ZhangWahsedDataset.to_parquet(os.path.join('Data', 'GallupWB_Zhang47var798k6wave_v1.parquet'))