# Random Forest Test with Well-being

In [1]:
%pwd

'/Users/shibo/Desktop/GallupWellBeingGroup/Code'

In [2]:
%cd ..

/Users/shibo/Desktop/GallupWellBeingGroup

## Import Package

In [3]:
import os 
import pandas as pd

## Fine Wash

### Load Dataset

In [4]:
RawDataset_Filename = os.path.join("Data", "GallupWB_WashedRawData17Wave_v1.parquet")

In [5]:
RawDataset = pd.read_parquet(RawDataset_Filename)

In [6]:
RawDataset.shape

(2594089, 90)

In [7]:
nan_counts = RawDataset.isna().sum()
for line in zip(RawDataset.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_1', 420409)
('INCOME_2', 423416)
('INCOME_3', 420411)
('INCOME_4', 423418)
('INCOME_5', 419801)
('INCOME_6', 2594089)
('INCOME_7', 419841)
('WP16', 14604)
('WP18', 14603)
('WP23', 123903)
('WP27', 151900)
('WP30', 129145)
('WP31', 142727)
('WP40', 52441)
('WP43', 49598)
('WP60', 86371)
('WP61', 67376)
('WP63', 104399)
('WP65', 69390)
('WP67', 74033)
('WP68', 85721)
('WP69', 82693)
('WP70', 83895)
('WP71', 184749)
('WP74', 100720)
('WP83', 185474)
('WP85', 310161)
('WP86', 240808)
('WP19472', 1719188)
('WP88', 262622)
('WP89', 171021)
('WP91', 198859)
('WP92', 200973)
('WP93', 145248)
('WP94', 202990)
('WP95', 201667)
('WP96', 2594089)
('WP97', 238617)
('WP98', 231858)
('WP10248', 710990)
('WP103', 452880)
('WP105', 545368)
('WP106', 262574)
('WP108', 189759)
('WP109', 187253)
('WP110', 193819)
('WP111', 675056)
('WP112', 419460)
('WP113', 206175)
('WP117', 268482)
('WP118', 786324)
('WP119', 291689)
('WP129', 177618)
('WP130', 156114)
('WP9050', 731999)
('WP131', 408916)
('WP132', 218748)
('WP134', 162829)
('WP137', 503224)
('WP138', 392723)
('WP139', 426999)
('WP141', 240493)
('WP144', 461870)
('WP10251', 790018)
('WP145', 294340)
('WP146', 401409)
('WP150', 518606)
('WP151', 347999)
('WP153', 420278)
('WP155', 452531)
('WP156', 400767)
('WP13125', 1158474)
('WP1219', 22)
('WP1220', 3306)
('WP1223', 26119)
('EMP_2010', 433208)
('WP1230', 80157)
('WP1233', 303845)
('WP2319', 146446)
('WP4657', 230088)
('WP9042', 2467008)
('WP9048', 2469606)
('WP17625', 1287824)
('WP17626', 1412789)
('WP16056', 1478999)
('WP15862', 1880708)
('WP19544', 1824015)
('WP3117', 77184)

### wave

In [8]:
RawDataset['wave'].value_counts().sort_index()

wave
1.0     129972
2.0     104831
3.0     120443
3.1       3568
3.2       4141
3.3       2592
3.4       1758
4.0      99664
4.1      18074
4.2      19164
4.3       1147
5.0     112702
5.1      18141
5.2      20013
6.0     130614
6.1      23134
6.2      26258
6.3       7224
6.4       7157
6.5       1077
7.1     151720
7.2      49465
7.3      12879
7.4      16019
8.1     138673
9.1     154205
9.2      36143
10.1    148232
11.1    148724
11.2      2000
12.1    154166
12.9      1000
13.1    118922
13.2     33952
14.1    176253
15.1    121207
15.5      6350
15.9      1917
16.1    126902
17.1    143686
Name: count, dtype: int64

In [9]:
RawDataset['wave'] = RawDataset['wave'].astype(int)

In [10]:
RawDataset['wave'].value_counts().sort_index()

wave
1     129972
2     104831
3     132502
4     138049
5     150856
6     195464
7     230083
8     138673
9     190348
10    148232
11    150724
12    155166
13    152874
14    176253
15    129474
16    126902
17    143686
Name: count, dtype: int64

### check elements

In [11]:
RawDataset.shape

(2594089, 90)

In [12]:
RawDataset['WP67'].head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: WP67, dtype: float64

### Filter columns and Replace elements

In [13]:
Droped_datasetdf = RawDataset.drop(columns=['WP111','WP118','WP119','WP131','INCOME_1','INCOME_3','INCOME_4','INCOME_5','INCOME_6','INCOME_7',
                     'WP151','WP153','WP155','WP156','WP13125','WP1233','WP4657',
                     'WP9042','WP9048','WP17625','WP3117','WP19472'])

In [14]:
Droped_datasetdf.shape

(2594089, 68)

#### WP23: Disability

In [15]:
Droped_datasetdf['WP23'] = Droped_datasetdf['WP23'].replace({3: 1, 4: 1})

In [16]:
Droped_datasetdf['WP23'] = Droped_datasetdf['WP23'].fillna(2)

#### WP40, WP43: Food&Shelter

In [17]:
Droped_datasetdf['WP40'] = Droped_datasetdf['WP40'].replace({3: 1, 4: 1})
Droped_datasetdf['WP40'] = Droped_datasetdf['WP40'].fillna(1)
Droped_datasetdf['WP43'] = Droped_datasetdf['WP43'].replace({3: 1, 4: 1})
Droped_datasetdf['WP43'] = Droped_datasetdf['WP43'].fillna(1)

#### Other Binary variables

DK and refused to No

In [18]:
columns_to_update = ['WP27','WP30', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69', 'WP70',
                     'WP71', 'WP74', 'WP83', 'WP85','WP86', 'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248',
                     'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110', 'WP112', 'WP113', 'WP117','WP129', 'WP130', 'WP9050', 'WP132', 'WP134', 
                     'WP137', 'WP138', 'WP139', 'WP141', 'WP144', 'WP145', 'WP146', 'WP150',
                     'WP16056', 'WP15862', 'WP19544']
Droped_datasetdf[columns_to_update] = Droped_datasetdf[columns_to_update].replace({3: 2, 4: 2})

In [19]:
Droped_datasetdf[columns_to_update] = Droped_datasetdf[columns_to_update].fillna(2)

#### Non-binary variables

In [20]:
columns_to_update = ['WP31','WP88','WP2319']
Droped_datasetdf[columns_to_update] = Droped_datasetdf[columns_to_update].applymap(lambda x: 2 if x not in [1, 2, 3] else x)

/var/folders/_z/l4bh9x2d7_q8069ftw3jb2cr0000gn/T/ipykernel_44113/2732660390.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  Droped_datasetdf[columns_to_update] = Droped_datasetdf[columns_to_update].applymap(lambda x: 2 if x not in [1, 2, 3] else x)

In [21]:
Droped_datasetdf = Droped_datasetdf[~((Droped_datasetdf['WP16'].isin([98, 99])) | (Droped_datasetdf['WP18'].isin([98, 99])))]

# Reset index (optional)
Droped_datasetdf.reset_index(drop=True, inplace=True)

#### WP1230: Children number

In [22]:
Droped_datasetdf['WP1230'] = Droped_datasetdf['WP1230'].apply(lambda x: 1 if x > 0 else 0)

#### EMP_2010:Employment

In [23]:
Droped_datasetdf['EMP_2010'] = Droped_datasetdf['EMP_2010'].fillna(5)

In [24]:
Droped_datasetdf.shape

(2366009, 68)

### Filter columns with nan

#### Check nan number and drop bad data

In [25]:
nan_counts = Droped_datasetdf.isna().sum()
for line in zip(Droped_datasetdf.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 379654)
('WP16', 14593)
('WP18', 14599)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP96', 2366009)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP10251', 715181)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 19)
('WP1220', 3112)
('WP1223', 24733)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP17626', 1291766)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)

In [26]:
nan_counts = Droped_datasetdf.isna().sum()
columns_to_drop = [col for col in Droped_datasetdf.columns if col != 'INCOME_2' and Droped_datasetdf[col].isna().sum() > 500_000]
Droped_nan_datasetdf = Droped_datasetdf.drop(columns=columns_to_drop)

In [27]:
print("Shape of DataFrame after dropping columns:", Droped_nan_datasetdf.shape)
print("Remaining columns:", Droped_nan_datasetdf.columns.tolist())

Shape of DataFrame after dropping columns: (2366009, 65)
Remaining columns: ['wave', 'COUNTRY_ISO3', 'INCOME_2', 'WP16', 'WP18', 'WP23', 'WP27', 'WP30', 'WP31', 'WP40', 'WP43', 'WP60', 'WP61', 'WP63', 'WP65', 'WP67', 'WP68', 'WP69', 'WP70', 'WP71', 'WP74', 'WP83', 'WP85', 'WP86', 'WP88', 'WP89', 'WP91', 'WP92', 'WP93', 'WP94', 'WP95', 'WP97', 'WP98', 'WP10248', 'WP103', 'WP105', 'WP106', 'WP108', 'WP109', 'WP110', 'WP112', 'WP113', 'WP117', 'WP129', 'WP130', 'WP9050', 'WP132', 'WP134', 'WP137', 'WP138', 'WP139', 'WP141', 'WP144', 'WP145', 'WP146', 'WP150', 'WP1219', 'WP1220', 'WP1223', 'EMP_2010', 'WP1230', 'WP2319', 'WP16056', 'WP15862', 'WP19544']

#### Process data: INCOME_2

In [28]:
nan_counts = Droped_nan_datasetdf.isna().sum()
for line in zip(Droped_nan_datasetdf.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 379654)
('WP16', 14593)
('WP18', 14599)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 19)
('WP1220', 3112)
('WP1223', 24733)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)

In [29]:
def fill_na_with_group_mean(group):
    group['INCOME_2'] = group['INCOME_2'].fillna(group['INCOME_2'].mean())
    return group

# Group by 'COUNTRY_IS03' and 'wave', then apply the function
Droped_nan_datasetdf = Droped_nan_datasetdf.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)
# Remove the group keys added by groupby
Droped_nan_datasetdf = Droped_nan_datasetdf.reset_index(drop=True)

print("\nUpdated DataFrame with NaN values replaced in 'INCOME_2':")
print(Droped_nan_datasetdf)

/var/folders/_z/l4bh9x2d7_q8069ftw3jb2cr0000gn/T/ipykernel_44113/3381236747.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  Droped_nan_datasetdf = Droped_nan_datasetdf.groupby(['COUNTRY_ISO3', 'wave']).apply(fill_na_with_group_mean)

Updated DataFrame with NaN values replaced in 'INCOME_2':
         wave COUNTRY_ISO3  INCOME_2  WP16  WP18  WP23  WP27  WP30  WP31  \
0           3          AFG       NaN   6.0   7.0   1.0   1.0   1.0   1.0
1           3          AFG       NaN   2.0   5.0   1.0   1.0   2.0   3.0
2           3          AFG       NaN   7.0   8.0   2.0   1.0   1.0   1.0
3           3          AFG       NaN   5.0   5.0   1.0   1.0   1.0   1.0
4           3          AFG       NaN   4.0   5.0   2.0   1.0   1.0   1.0
...       ...          ...       ...   ...   ...   ...   ...   ...   ...
2366004    17          ZWE       NaN   2.0   9.0   2.0   2.0   2.0   1.0
2366005    17          ZWE       NaN   5.0   6.0   2.0   1.0   2.0   3.0
2366006    17          ZWE       NaN   7.0   5.0   1.0   1.0   1.0   3.0
2366007    17          ZWE       NaN   2.0   2.0   2.0   2.0   2.0   3.0
2366008    17          ZWE       NaN   5.0   8.0   1.0   1.0   2.0   2.0

         WP40  ...  WP150  WP1219  WP1220  WP1223  EMP_2010  WP1230  WP2319  \
0         2.0  ...    1.0     1.0    20.0     1.0       5.0       1     1.0
1         1.0  ...    2.0     1.0    30.0     2.0       5.0       1     2.0
2         2.0  ...    1.0     1.0    17.0     1.0       5.0       1     1.0
3         1.0  ...    1.0     1.0    45.0     2.0       5.0       1     1.0
4         2.0  ...    2.0     1.0    19.0     1.0       5.0       0     2.0
...       ...  ...    ...     ...     ...     ...       ...     ...     ...
2366004   1.0  ...    1.0     2.0    29.0     4.0       2.0       1     2.0
2366005   1.0  ...    1.0     2.0    26.0     2.0       3.0       1     3.0
2366006   1.0  ...    1.0     2.0    24.0     1.0       6.0       1     3.0
2366007   1.0  ...    2.0     2.0    36.0     2.0       6.0       1     2.0
2366008   2.0  ...    2.0     2.0    24.0     2.0       2.0       1     2.0

         WP16056  WP15862  WP19544
0            2.0      2.0      2.0
1            2.0      2.0      2.0
2            2.0      2.0      2.0
3            2.0      2.0      2.0
4            2.0      2.0      2.0
...          ...      ...      ...
2366004      1.0      1.0      1.0
2366005      2.0      2.0      2.0
2366006      1.0      1.0      1.0
2366007      1.0      1.0      1.0
2366008      1.0      1.0      1.0

[2366009 rows x 65 columns]

In [30]:
num_nan_income_2 = Droped_nan_datasetdf['INCOME_2'].isna().sum()
print(f"\nNumber of NaN values in 'INCOME_2' column: {num_nan_income_2}")

Number of NaN values in 'INCOME_2' column: 378035

In [31]:
columns_to_check = ['INCOME_2','WP16', 'WP18', 'WP1219', 'WP1220']
Droped_nan_datasetdf = Droped_nan_datasetdf.dropna(subset=columns_to_check)

In [32]:
nan_counts = Droped_nan_datasetdf.isna().sum()
for line in zip(Droped_nan_datasetdf.columns, nan_counts):
    print(line)

print("Shape of DataFrame after dropping columns:", Droped_nan_datasetdf.shape)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 0)
('WP16', 0)
('WP18', 0)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 0)
('WP1220', 0)
('WP1223', 5258)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)
Shape of DataFrame after dropping columns: (1980424, 65)

In [33]:
Droped_fullnan_datasetdf = Droped_nan_datasetdf.dropna()

# Display the updated DataFrame
print("\nUpdated DataFrame after dropping rows with any NaN values:")
print(Droped_fullnan_datasetdf)

Updated DataFrame after dropping rows with any NaN values:
         wave COUNTRY_ISO3     INCOME_2  WP16  WP18  WP23  WP27  WP30  WP31  \
860         4          AFG  2830.160508   2.0   4.0   1.0   2.0   2.0   2.0
861         4          AFG  8086.172880   5.0   6.0   2.0   1.0   1.0   1.0
862         4          AFG  6468.938304   4.0   3.0   2.0   1.0   1.0   2.0
863         4          AFG  2425.851864   3.0   5.0   2.0   1.0   2.0   1.0
864         4          AFG  5660.321016   6.0   7.0   2.0   1.0   1.0   2.0
...       ...          ...          ...   ...   ...   ...   ...   ...   ...
2362157    13          ZWE  1825.338810   0.0   2.0   2.0   1.0   1.0   3.0
2362158    13          ZWE  5704.183781   2.0   8.0   2.0   1.0   2.0   3.0
2362159    13          ZWE  6845.020537   1.0   2.0   1.0   1.0   1.0   1.0
2362160    13          ZWE  6388.685835   0.0   2.0   2.0   1.0   1.0   3.0
2362161    13          ZWE  6845.020537   0.0   3.0   2.0   1.0   2.0   3.0

         WP40  ...  WP150  WP1219  WP1220  WP1223  EMP_2010  WP1230  WP2319  \
860       1.0  ...    2.0     1.0    65.0     2.0       1.0       1     2.0
861       2.0  ...    1.0     1.0    55.0     2.0       5.0       1     2.0
862       2.0  ...    2.0     1.0    16.0     1.0       6.0       1     3.0
863       2.0  ...    2.0     1.0    45.0     2.0       1.0       0     2.0
864       2.0  ...    1.0     1.0    38.0     2.0       1.0       1     2.0
...       ...  ...    ...     ...     ...     ...       ...     ...     ...
2362157   1.0  ...    1.0     1.0    24.0     1.0       1.0       1     2.0
2362158   1.0  ...    2.0     1.0    32.0     2.0       1.0       0     3.0
2362159   1.0  ...    1.0     1.0    46.0     2.0       2.0       1     2.0
2362160   1.0  ...    1.0     2.0    16.0     1.0       6.0       1     3.0
2362161   1.0  ...    1.0     2.0    23.0     2.0       4.0       0     3.0

         WP16056  WP15862  WP19544
860          2.0      2.0      2.0
861          2.0      2.0      2.0
862          2.0      2.0      2.0
863          2.0      2.0      2.0
864          2.0      2.0      2.0
...          ...      ...      ...
2362157      1.0      2.0      1.0
2362158      1.0      2.0      1.0
2362159      2.0      2.0      2.0
2362160      2.0      2.0      2.0
2362161      1.0      2.0      1.0

[1975166 rows x 65 columns]

In [34]:
nan_counts = Droped_fullnan_datasetdf.isna().sum()
for line in zip(Droped_fullnan_datasetdf.columns, nan_counts):
    print(line)

('wave', 0)
('COUNTRY_ISO3', 0)
('INCOME_2', 0)
('WP16', 0)
('WP18', 0)
('WP23', 0)
('WP27', 0)
('WP30', 0)
('WP31', 0)
('WP40', 0)
('WP43', 0)
('WP60', 0)
('WP61', 0)
('WP63', 0)
('WP65', 0)
('WP67', 0)
('WP68', 0)
('WP69', 0)
('WP70', 0)
('WP71', 0)
('WP74', 0)
('WP83', 0)
('WP85', 0)
('WP86', 0)
('WP88', 0)
('WP89', 0)
('WP91', 0)
('WP92', 0)
('WP93', 0)
('WP94', 0)
('WP95', 0)
('WP97', 0)
('WP98', 0)
('WP10248', 0)
('WP103', 0)
('WP105', 0)
('WP106', 0)
('WP108', 0)
('WP109', 0)
('WP110', 0)
('WP112', 0)
('WP113', 0)
('WP117', 0)
('WP129', 0)
('WP130', 0)
('WP9050', 0)
('WP132', 0)
('WP134', 0)
('WP137', 0)
('WP138', 0)
('WP139', 0)
('WP141', 0)
('WP144', 0)
('WP145', 0)
('WP146', 0)
('WP150', 0)
('WP1219', 0)
('WP1220', 0)
('WP1223', 0)
('EMP_2010', 0)
('WP1230', 0)
('WP2319', 0)
('WP16056', 0)
('WP15862', 0)
('WP19544', 0)